/*@font-face {*/
/*    font-family: 'Raleway';*/
/*    src: url('../fonts/Raleway/Raleway-Black.woff2') format('woff2'),*/
/*    url('../fonts/Raleway/Raleway-Black.woff') format('woff');*/
/*    font-weight: 900;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Raleway';*/
/*    src: url('../fonts/Raleway/Raleway-ExtraLight.woff2') format('woff2'),*/
/*    url('../fonts/Raleway/Raleway-ExtraLight.woff') format('woff');*/
/*    font-weight: 200;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/Raleway/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
    url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Light.woff2') format('woff2'),
    url('../fonts/Raleway/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
    url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Thin.woff2') format('woff2'),
    url('../fonts/Raleway/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/*Inter*/
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Light.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*@font-face {*/
/*    font-family: 'Inter';*/
/*    src: url('../fonts/Inter/Inter-Thin.woff2') format('woff2'),*/
/*    url('../fonts/Inter/Inter-Thin.woff') format('woff');*/
/*    font-weight: 100;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Inter';*/
/*    src: url('../fonts/Inter/Inter-Black.woff2') format('woff2'),*/
/*    url('../fonts/Inter/Inter-Black.woff') format('woff');*/
/*    font-weight: 900;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Inter';*/
/*    src: url('../fonts/Inter/Inter-ExtraLight.woff2') format('woff2'),*/
/*    url('../fonts/Inter/Inter-ExtraLight.woff') format('woff');*/
/*    font-weight: 200;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/Inter/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*@font-face {*/
/*    font-family: 'Inter';*/
/*    src: url('../fonts/Inter/Inter-ExtraBold.woff2') format('woff2'),*/
/*    url('../fonts/Inter/Inter-ExtraBold.woff') format('woff');*/
/*    font-weight: 800;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*Jost*/

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/Jost-Regular.woff2') format('woff2'),
    url('../fonts/Jost/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/**/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?wkijo3');
    src:  url('../fonts/icomoon/icomoon.eot?wkijo3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?wkijo3') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?wkijo3') format('woff'),
    url('../fonts/icomoon/icomoon.svg?wkijo3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
