@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container .select2-selection--single .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em;
}
.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}
.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline;
  list-style: none;
  padding: 0;
}
.select2-container .select2-selection--multiple .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em;
}
.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  margin-left: 5px;
  padding: 0;
}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-results__option--selectable {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px;
  padding-right: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container--default[dir=rtl] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  padding-bottom: 5px;
  padding-right: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 1px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-right: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #999;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
  background-color: #f1f1f1;
  color: #333;
  outline: none;
}
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px;
}
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  border-left: 1px solid #aaa;
  border-right: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.select2-container--default[dir=rtl] .select2-selection--multiple .select2-selection__clear {
  float: left;
  margin-left: 10px;
  margin-right: auto;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}
.select2-container--default .select2-results__option--group {
  padding: 0;
}
.select2-container--default .select2-results__option--disabled {
  color: #999;
}
.select2-container--default .select2-results__option--selected {
  background-color: #ddd;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5897fb;
  color: white;
}
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFFFF", endColorstr="#FFEEEEEE", GradientType=0);
}
.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}
.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px;
}
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFEEEEEE", endColorstr="#FFCCCCCC", GradientType=0);
}
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container--classic[dir=rtl] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}
.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFFFF", endColorstr="#FFEEEEEE", GradientType=0);
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFEEEEEE", endColorstr="#FFFFFFFF", GradientType=0);
}
.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
  padding-bottom: 5px;
  padding-right: 5px;
}
.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}
.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #888;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
  outline: none;
}
.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}
.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px;
}
.select2-container--classic[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}
.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}
.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}
.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}
.select2-container--classic .select2-dropdown--below {
  border-top: none;
}
.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--classic .select2-results__option--group {
  padding: 0;
}
.select2-container--classic .select2-results__option--disabled {
  color: grey;
}
.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #3875d7;
  color: white;
}
.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "";
}

.icon-angle-down:before {
  content: "";
}

.icon-angle-left:before {
  content: "";
}

.icon-angle-right:before {
  content: "";
}

.icon-angle-up:before {
  content: "";
}

.icon-arrow-down:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-arrow-up:before {
  content: "";
}

.icon-basket:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-edit:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-zoom:before {
  content: "";
}

.icon-angle-2-down:before {
  content: "";
}

.icon-angle-2-left:before {
  content: "";
}

.icon-angle-2-right:before {
  content: "";
}

.icon-angle-2-up:before {
  content: "";
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-width: 320px;
  line-height: 1.18;
  background: #fff;
  color: #000;
  font-family: "Raleway", sans-serif;
}

#main {
  width: 100%;
  overflow: hidden;
}

.body--scroll {
  padding-top: 78px;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.w100 {
  width: 100% !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-wrap: wrap;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.row [class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-2 {
  width: 50%;
}

.main-container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.slick-slide {
  outline: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 1024px) {
  .main-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 750px) {
  .main-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 568px) {
  .col-sm-1 {
    width: 100%;
  }

  .mt-sm-0 {
    margin-top: 0 !important;
  }

  .mb-sm-0 {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 360px) {
  .main-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
}

h1, .h1 {
  font-size: 34px;
  margin-bottom: 5px;
}

h3, .h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.18;
  margin: 53px 0 22px;
}
h3 a, .h3 a {
  text-decoration: none;
}

a {
  outline: 0;
  color: inherit;
}

.link-red {
  color: #F16861;
  text-decoration: none;
}
.link-red:hover {
  text-decoration: none;
}

.category-title {
  background: -webkit-linear-gradient(135deg, #FDBE2C 68%, #E6268A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 50px;
  line-height: 1.18;
  margin: 56px 0 42px;
}

.text-center {
  text-align: center;
}

.main-title {
  font-weight: 800;
  font-size: 70px;
  background: -webkit-linear-gradient(135deg, #FDBE2C 68%, #E6268A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 120%;
  margin: 0 0 41px;
}

.text-page {
  padding: 86px 0 0;
  color: #000;
}
.text-page__inner {
  max-width: 825px;
}
.text-page p {
  font-family: "Inter", sans-serif;
  line-height: 170%;
  font-size: 18px;
  margin: 0 0 20px;
}
.text-page ul {
  font-family: "Inter", sans-serif;
  line-height: 170%;
  font-size: 18px;
}

.figure {
  margin: 38px 0 42px;
}
.figure__img {
  display: block;
  width: 100%;
  border-radius: 16px;
}

.back {
  font-weight: 500;
  font-size: 16px;
  line-height: 138.7%;
  color: #000000;
  text-decoration: none;
}
.back .icon-angle-2-left {
  color: #D7D7D7;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  margin: 3px 12px 0 0;
}

.back-to-menu {
  display: inline-block;
  vertical-align: top;
  height: 44px;
  border: 1px solid rgba(215, 215, 215, 0.6);
  border-radius: 40px;
  background: #fff;
  text-decoration: none;
  line-height: 42px;
  padding: 0 17px;
  padding-right: 39px;
  position: relative;
  z-index: 10;
  margin-top: -22px;
  margin-left: -10px;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s all ease;
}
.back-to-menu:before {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 15px;
  background: #fff;
  display: block;
  content: "";
  margin-left: 1px;
}
.back-to-menu i {
  display: inline-block;
  vertical-align: top;
  color: #D7D7D7;
  margin: 12px 12px 0 0;
  transition: 0.3s all ease;
}
.back-to-menu:hover {
  background: #F16861;
  color: #fff;
  border-color: #F16861;
}
.back-to-menu:hover i {
  color: #fff;
}

@media (max-width: 1200px) {
  .back-to-menu {
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .text-page {
    padding-top: 60px;
  }

  .main-title {
    font-size: 60px;
  }

  .category-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .category-title {
    font-size: 30px;
    margin: 43px 0 33px;
  }

  .main-title {
    font-size: 45px;
    line-height: 53px;
  }
}
@media (max-width: 568px) {
  .text-page {
    padding-top: 22px;
  }

  .main-title {
    margin: 0 0 17px;
  }

  .category-title {
    margin: 40px 0 14px;
  }

  .figure {
    margin: 30px 0;
  }

  h3, .h3 {
    margin: 40px 0 20px;
  }
}
.btn {
  height: 52px;
  line-height: 52px;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  padding: 0 25px;
  background: linear-gradient(90deg, #E6268A -50.64%, #FDBE2C 102.36%), #F16861;
  box-shadow: 0 2px 3px rgba(0, 158, 246, 0.21);
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  outline: 0;
  text-align: center;
  transition: 0.3s all ease;
}
.btn:hover {
  background: linear-gradient(90deg, #E6268A -50.64%, #FDBE2C 150%), #F16861;
}
.btn--lg {
  font-weight: bold;
  font-size: 20px;
  height: 70px;
  line-height: 70px;
}
.btn--full {
  width: 100%;
}

.btn-r {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  transition: 0.3s all ease;
  border-radius: 10px;
  outline: 0;
  text-align: center;
  height: 50px;
  padding: 2px;
  background: linear-gradient(90deg, #E6268A -50.64%, #FDBE2C 102.36%), #F16861;
  box-shadow: 0 2px 3px rgba(0, 158, 246, 0.21);
}
.btn-r__inner {
  height: 46px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
  transition: 0.3s all ease;
  padding: 0 25px;
}
.btn-r__text {
  background: -webkit-linear-gradient(135deg, #FDBE2C 68%, #E6268A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s all ease;
  font-weight: 500;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.btn-r:hover .btn-r__inner {
  background: transparent;
}
.btn-r:hover .btn-r__text {
  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #fff;
  color: #fff;
}

.btn-d {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  outline: 0;
  text-decoration: none;
  transition: 0.3s all ease;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
}
.btn-d--green {
  color: #fff;
  background: #B6D108;
}

.btn-d-r {
  display: inline-block;
  vertical-align: top;
  border: 2px solid;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  line-height: 46px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  transition: 0.3s all ease;
}
.btn-d-r--gray {
  border-color: #D7D7D7;
  color: #000000;
}
.btn-d-r--gray:hover {
  background: #D7D7D7;
}

.spiner {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: top;
}
.spiner__btn {
  width: 44px;
  height: 36px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.spiner__btn:before, .spiner__btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: "";
  background: #000000;
  width: 14px;
  height: 2px;
  margin: -1px 0 0 -7px;
}
.spiner__btn:after {
  transform: rotate(90deg);
}
.spiner__btn--down:after {
  display: none;
}
.spiner__btn--disable {
  cursor: default;
}
.spiner__btn--disable:before {
  background: #D7D7D7;
}
.spiner__num {
  max-width: 40px;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  color: #000000;
  font-weight: 500;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

.form-row {
  margin-bottom: 24px;
}
.form-row__input {
  width: 100%;
  height: 53px;
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  color: #222;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 0 24px;
  outline: 0;
}
.form-row__input::placeholder {
  color: #D7D7D7;
}
.form-row__textarea {
  width: 100%;
  height: 166px;
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  color: #222;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 15px 24px;
  outline: 0;
}
.form-row__textarea::placeholder {
  color: #D7D7D7;
}
.form-row .select2 {
  min-width: 100%;
  width: 100%;
}
.form-row .select2-container--default .select2-selection--single {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  height: 53px;
}
.form-row .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 51px;
  padding: 0 24px;
  color: #222;
  font-weight: 500;
  font-size: 18px;
}
.form-row .select2-container--default .select2-selection--single .select2-selection__arrow {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #D7D7D7;
  font-size: 12px;
  width: 51px;
  height: 51px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}
.form-row .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.form-row .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "";
}

@media (max-width: 992px) {
  .spiner__num {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
  }
  .spiner__btn {
    height: 24px;
    width: 24px;
  }
  .spiner__btn:before, .spiner__btn:after {
    width: 12px;
    margin: -1px 0 0 -6px;
  }
}
@media (max-width: 768px) {
  .form-row__textarea {
    height: 129px;
  }
}
.breadcrumbs {
  padding: 0 20px;
  margin: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
  background: #FFFFFF;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 10px;
}
.breadcrumbs__item {
  color: #4A4E51;
  font-weight: 500;
  font-size: 16px;
  line-height: 138.7%;
  margin-right: 8px;
}
.breadcrumbs__item:last-child {
  margin-right: 0;
}
.breadcrumbs__item--arrow {
  color: #9D9D9D;
  width: 24px;
  font-size: 12px;
  text-align: center;
}
.breadcrumbs__link {
  color: #9D9D9D;
  text-decoration: none;
  transition: 0.3s color ease;
}
.breadcrumbs__link:hover {
  color: #4A4E51;
}

.header {
  padding: 28px 0;
  position: relative;
  background: #fff;
  transition: 0.3s all ease;
}
.header--scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
}
@media (max-width: 768px) {
  .header--scroll {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 12px;
    padding-top: 12px !important;
  }
}
.header--shadow {
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.07);
}
.header--fixed .alert-b {
  display: none;
}
@media (max-width: 768px) {
  .header--fixed .alert-b {
    display: block;
  }
}
.header__scroll-title {
  display: none;
}
.header--inner .header__row {
  border-bottom: 1px solid #D7D7D7;
  padding-bottom: 32px;
}
.header--p-border .header__row {
  padding-bottom: 50px;
}
.header--p-border .header__nav-link:before {
  margin-top: 15px;
}
.header--profile .header__basket-name {
  display: none;
}
.header--profile .header__phone {
  margin-right: 72px;
}
.header__row {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
.header__menu {
  display: none;
}
.header__logo {
  display: inline-block;
  vertical-align: top;
  width: 153px;
  height: 44px;
  background: url("images/logo.svg") no-repeat center;
  background-size: cover;
  margin: 4px 0 0;
  text-decoration: none;
}
.header__basket {
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: top;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  text-decoration: none;
  background: linear-gradient(90deg, #E6268A -110.73%, #FDBE2C 104.72%);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  position: relative;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  transition: 0.3s all ease;
}
.header__basket:hover {
  background: linear-gradient(90deg, #E6268A -110.73%, #FDBE2C 150%);
}
.header__basket .col-auto {
  padding-left: 5px;
  padding-right: 5px;
}
.header__basket-icon {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  margin: 2px 0 0;
}
.header__basket-name {
  margin-left: 10px;
}
.header__basket-badge {
  position: absolute;
  top: -8px;
  right: -9px;
  min-width: 24px;
  height: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
  border-radius: 24px;
  background: #F16861;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
}
.header__login {
  display: inline-block;
  vertical-align: top;
  background: #F16861;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  padding: 0 10px;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  margin-right: 15px;
}
.header__sign-in {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #F16861;
  text-decoration: none;
  outline: 0;
  font-size: 20px;
  margin-right: 15px;
}
.header__phone {
  display: inline-block;
  vertical-align: top;
  color: #F16861;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  margin: 11px 47px 0 0;
}
.header__phone .icon-phone {
  display: inline-block;
  vertical-align: top;
  margin: 6px 12px 0 0;
  font-size: 18px;
}
.header__nav-m {
  display: none;
}
.header__nav {
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: top;
  margin: 19px 0 0 45px;
  padding: 0;
  list-style: none;
}
.header__nav-item:not(:last-child) {
  margin-right: 52px;
}
.header__nav-link {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: 0.3s color ease;
  position: relative;
}
.header__nav-link:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background: #F16861;
  display: block;
  content: "";
  margin: 40px 0 0;
  opacity: 0;
}
.header__nav-link:hover {
  color: #F16861;
}
.header__nav-link--active {
  color: #000 !important;
}
.header__nav-link--active:before {
  opacity: 1;
}

.header-wrap {
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.07);
}

.alert-b {
  position: absolute;
  top: 66px;
  right: 0;
  background: #B6D108;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  width: 405px;
  padding: 15px 22px;
  max-width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50px);
  z-index: -1;
  transition: 0.3s all ease;
}
.alert-b:before {
  position: absolute;
  top: -11px;
  right: 40px;
  width: 21px;
  height: 21px;
  content: "";
  display: block;
  background: #B6D108;
  transform: rotate(45deg);
}
.alert-b--active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transform: translate(0, 0);
}

@media (max-width: 1200px) {
  .header__phone {
    margin: 12px 20px 0 0;
    font-size: 20px;
  }
  .header__nav {
    margin-left: 30px;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 30px;
  }
  .header--profile .header__phone {
    margin-right: 30px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding-top: 24px;
  }
  .header--inner .header__row {
    padding-bottom: 26px;
  }
  .header--p-border .header__row {
    padding-bottom: 59px;
  }
  .header__menu {
    display: inline-block;
    vertical-align: top;
    margin: 17px 10px 0 0;
    width: 28px;
  }
  .header__menu span {
    display: block;
    height: 3px;
    border-radius: 3px;
    background: #000;
    margin-top: 5px;
    transition: 0.3s all ease;
    position: relative;
  }
  .header__menu span:nth-child(1) {
    margin-top: 0;
    width: 27px;
  }
  .header__menu span:nth-child(2) {
    width: 12px;
  }
  .header__menu span:nth-child(3) {
    width: 18px;
  }
  .header__menu--active span:nth-child(1) {
    width: 28px;
    transform: rotate(45deg);
    top: 8px;
  }
  .header__menu--active span:nth-child(2) {
    transform: translate(-30px, 0);
    opacity: 0;
    visibility: hidden;
  }
  .header__menu--active span:nth-child(3) {
    width: 28px;
    transform: rotate(-45deg);
    top: -8px;
  }
  .header__nav {
    display: none;
  }
  .header__nav-m {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid rgba(149, 149, 149, 0.2);
    z-index: 300;
    display: block;
    margin: 0;
    padding: 113px 15px;
    list-style: none;
    transition: 0.3s all ease;
    opacity: 0;
    visibility: hidden;
    transform: translate(-100%, 0);
  }
  .header__nav-m--active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
  .header__nav-m-item {
    width: 100%;
    text-align: center;
  }
  .header__nav-m-item:not(:last-child) {
    margin-bottom: 28px;
  }
  .header__nav-m-link {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
    outline: 0;
  }
  .header__nav-m-link:before {
    background: #F16861;
    display: none;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 5px;
  }
  .header__nav-m-link--active {
    font-weight: bold;
  }
  .header__nav-m-link--active:before {
    display: block;
  }
  .header__phone {
    font-size: 16px;
    margin-right: 26px;
  }
}
@media (max-width: 768px) {
  .header--fixed .header__scroll-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.1;
    max-width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: -webkit-linear-gradient(135deg, #FDBE2C 68%, #E6268A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    text-align: center;
  }
  .header--profile .header__basket-name {
    display: inline;
  }
  .header--profile .header__phone {
    margin-right: 15px;
  }
  .header--profile .header__phone i {
    margin-top: 3px;
  }
  .header--profile .header__phone span {
    display: none;
  }
}
@media (max-width: 750px) {
  .header__basket {
    width: 50px;
    min-width: 0;
  }
  .header__basket .col-auto {
    padding: 0;
  }
  .header__basket .col-auto:last-child {
    display: none;
  }
  .header__basket-name {
    display: none;
  }
  .header__phone {
    margin-right: 10px;
  }
  .header__phone span {
    display: none;
  }
  .header__nav-m {
    padding: 85px 15px;
  }
  .header--profile .header__basket-name {
    display: none;
  }

  .alert-b {
    right: -24px;
  }
  .alert-b:before {
    right: 38px;
  }
}
@media (max-width: 568px) {
  .header--p-border .header__row {
    padding-bottom: 45px;
  }
}
@media (max-width: 480px) {
  .alert-b {
    width: auto;
    left: -24px;
    max-width: none;
  }
}
@media (max-width: 360px) {
  .header__logo {
    width: 130px;
    height: 36px;
    margin: 8px 0 0;
  }

  .header {
    padding-top: 15px;
  }
  .header--scroll {
    padding-bottom: 15px;
  }

  .header__nav-m-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .header__nav-m {
    padding: 50px 15px;
  }

  .alert-b {
    left: -15px;
    right: -15px;
  }
}
.welcome {
  margin-top: 31px;
}
.welcome__inner {
  position: relative;
}
.welcome-slider {
  margin: 0 -15px;
}
.welcome-slider .slick-list {
  overflow: visible;
}
.welcome-slider__item {
  padding-left: 15px;
  padding-right: 15px;
}
.welcome-slider__inner {
  overflow: hidden;
  border-radius: 16px;
  display: block;
  text-decoration: none;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  outline: 0;
}
.welcome-slider__img {
  display: block;
  width: 100%;
}
.welcome-slider .slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 54px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 768px) {
  .welcome-slider .slick-dots {
    bottom: 45px;
  }
}
.welcome-slider .slick-dots li {
  margin: 0 9px;
  position: relative;
  width: 14px;
  height: 15px;
  z-index: 50;
  cursor: pointer;
}
.welcome-slider .slick-dots li:before, .welcome-slider .slick-dots li:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #fff;
  content: "";
  display: block;
  transition: 0.3s all ease;
}
.welcome-slider .slick-dots li:after {
  background: linear-gradient(135deg, #E6268A 0%, #FDBE2C 100%);
  opacity: 0;
  z-index: 10;
}
.welcome-slider .slick-dots li.slick-active:before, .welcome-slider .slick-dots li:hover:before {
  box-shadow: 0 0 0 4px #fff;
}
.welcome-slider .slick-dots li.slick-active:after, .welcome-slider .slick-dots li:hover:after {
  opacity: 1;
}
.welcome-slider .slick-dots button {
  display: none;
}

@media (max-width: 992px) {
  .welcome {
    margin-top: 27px;
  }
}
@media (max-width: 568px) {
  .welcome {
    padding: 0;
  }

  .welcome-slider__inner {
    border-radius: 8px;
  }
}
@media (max-width: 360px) {
  .welcome {
    margin-top: 15px;
  }
}
.menu-nav-w {
  height: 162px;
}

.menu-nav {
  margin: 0;
  padding: 28px 0 0 0;
  background: #fff;
  transition: 0.5s all ease;
  position: relative;
}
.menu-nav:not(.menu-nav--fixed) {
  display: block !important;
}
.menu-nav .alert-b {
  display: none;
}
.menu-nav__logo {
  display: none;
  width: 47px;
  height: 44px;
  background: url("images/logo.svg") no-repeat center left;
  text-decoration: none;
  position: absolute;
  top: 17px;
  left: 15px;
}
.menu-nav .header__basket {
  display: none;
}
.menu-nav__wrap {
  margin: 0 -15px;
  position: relative;
}
.menu-nav__mob-toggle {
  display: none;
}
.menu-nav__inner {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.menu-nav__list {
  padding: 0;
  margin: 0 0 0 -15px;
  list-style: none;
  display: inline-flex;
}
.menu-nav__list:last-child {
  margin-right: 0;
}
.menu-nav__list-item {
  margin: 0 17px;
  width: 110px;
  position: relative;
}
.menu-nav__list-item--active .menu-nav__list-name:before {
  left: 0;
  width: 100%;
}
.menu-nav__list-link {
  display: block;
  text-decoration: none;
  position: relative;
  text-align: center;
}
@media (min-width: 1025px) {
  .menu-nav__list-link:hover .menu-nav__list-name:before {
    left: 0;
    width: 100%;
  }
}
.menu-nav__list-img-w {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 93px;
}
.menu-nav__list-img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.menu-nav__list-name {
  margin: 22px 0 0;
  text-align: center;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 138.7%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-bottom: 10px;
}
.menu-nav__list-name:before {
  position: absolute;
  background: #F16861;
  height: 5px;
  width: 0;
  left: 50%;
  bottom: 0;
  transition: 0.3s all ease;
  display: block;
  content: "";
}
.menu-nav--fixed {
  position: fixed;
  left: 0;
  top: 106px;
  width: 100%;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.07);
  z-index: 100;
  padding-top: 15px;
  margin: 0 !important;
}
.menu-nav--small {
  top: -10px;
}
.menu-nav--small:before {
  top: 117px;
  left: 0;
  width: 100%;
  height: 1px;
  display: block;
  content: "";
  background: #EBEBEB;
  position: absolute;
}

@media (max-width: 1024px) {
  .menu-nav__wrap {
    margin: 0 -40px;
  }
  .menu-nav--fixed {
    top: 102px;
  }
  .menu-nav--small {
    top: -14px;
  }
}
@media (max-width: 768px) {
  .menu-nav--fixed {
    top: 74px;
  }
  .menu-nav--small {
    top: -42px;
  }
}
@media (max-width: 750px) {
  .menu-nav__wrap {
    margin: 0 -24px;
  }
}
@media (max-width: 568px) {
  .menu-nav--fixed {
    margin-top: 0;
  }
  .menu-nav--fixed .menu-nav__wrap {
    padding-top: 0;
  }
  .menu-nav--small {
    top: -16px;
  }
  .menu-nav--small:before {
    top: 90px;
  }
  .menu-nav__inner {
    padding-left: 10px;
  }
  .menu-nav__list-item {
    margin: 0 8px;
  }
  .menu-nav__list-img-w {
    height: 72px;
  }
  .menu-nav__list-name {
    margin-top: 15px;
  }
}
.popular {
  margin: 88px 0 0;
}
.popular__inner {
  position: relative;
  min-height: 200px;
}
.popular .category-title {
  margin: 0 0 63px;
}

.popular-slider {
  margin: 0 -15px;
}
.popular-slider .slick-list {
  overflow: visible;
}
.popular-slider .slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -24px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 768px) {
  .popular-slider .slick-dots {
    bottom: -10px;
  }
}
@media (max-width: 568px) {
  .popular-slider .slick-dots {
    bottom: 0;
  }
}
.popular-slider .slick-dots li {
  margin: 0 9px;
  position: relative;
  width: 10px;
  height: 10px;
  z-index: 50;
  cursor: pointer;
}
.popular-slider .slick-dots li:before, .popular-slider .slick-dots li:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #eee;
  content: "";
  display: block;
  transition: 0.3s all ease;
}
.popular-slider .slick-dots li:after {
  background: linear-gradient(135deg, #E6268A 0%, #FDBE2C 100%);
  opacity: 0;
  z-index: 10;
}
.popular-slider .slick-dots li.slick-active:before, .popular-slider .slick-dots li:hover:before {
  box-shadow: 0 0 0 4px #fff;
}
.popular-slider .slick-dots li.slick-active:after, .popular-slider .slick-dots li:hover:after {
  opacity: 1;
}
.popular-slider .slick-dots button {
  display: none;
}
.popular-slider__item {
  padding-left: 15px;
  padding-right: 15px;
}
.popular-slider__inner {
  overflow: hidden;
  height: 160px;
  width: 350px;
  background-color: #fff;
  border-radius: 16px;
  display: block;
  text-decoration: none;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  position: relative;
  outline: 0;
}
.popular-slider__img-w {
  position: absolute;
  top: -81px;
  right: -147px;
  width: 321px;
  height: 321px;
}
.popular-slider__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.popular-slider__cont {
  position: relative;
  z-index: 50;
  padding: 22px 33px;
}
.popular-slider__name {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}
.popular-slider__price {
  color: #F16861;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  margin: 25px 0 0;
}
.popular-slider__price--old {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #D7D7D7;
  margin-right: 7px;
}

@media (max-width: 1024px) {
  .popular {
    margin-top: 60px;
  }
  .popular .category-title {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .popular {
    margin-top: 46px;
  }
  .popular .category-title {
    margin-bottom: 25px;
  }

  .popular-slider__inner {
    width: 294px;
    height: 140px;
  }
  .popular-slider__cont {
    padding: 21px 23px;
  }
  .popular-slider__name {
    font-size: 18px;
    line-height: 130%;
  }
  .popular-slider__price {
    margin: 18px 0 0;
  }
  .popular-slider__img-w {
    width: 235px;
    height: 235px;
    top: -47px;
    right: -119px;
  }
}
@media (max-width: 568px) {
  .popular {
    margin-top: 15px;
  }
  .popular .category-title {
    margin-bottom: 35px;
  }
}
.product {
  margin: 122px 0 0;
}
.product--1 {
  margin-top: 104px;
}
.product--pdp {
  margin-top: 90px;
}
.product .category-title {
  margin: 0 0 50px;
}

.product-list {
  padding: 0;
  margin: 0 -15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.product-list__item {
  padding-left: 15px;
  padding-right: 15px;
  width: 33.3%;
  margin: 0 0 50px;
}
.product-list__img-w {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 300px;
}
.product-list__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.product-list__name {
  margin: 32px 0 18px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}
.product-list__text {
  margin: 0;
  color: #959595;
  font-size: 16px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
}
.product-list__footer {
  display: flex;
  flex-wrap: wrap;
  margin: 18px 0 0;
}
.product-list__price {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}
.product-list__price--red {
  color: #F16861;
}
.product-list__price--old {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #D7D7D7;
  margin-right: 7px;
}

@media (max-width: 1024px) {
  .product {
    margin-top: 80px;
  }
}
@media (max-width: 992px) {
  .product-list__img-w {
    height: 190px;
  }
  .product-list__name {
    font-size: 18px;
    margin: 5px 0 17px;
  }
  .product-list__price {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .product {
    margin-top: 32px;
  }
  .product--1 {
    margin-top: 0;
  }

  .product-list__item {
    margin-bottom: 27px;
  }
}
@media (max-width: 750px) {
  .product .category-title {
    margin-bottom: 30px;
  }

  .product-list__item {
    width: 100%;
  }
  .product-list__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .product-list__img-w {
    width: 110px;
    height: auto;
  }
  .product-list__cont {
    width: calc(100% - 110px);
    padding-left: 30px;
  }
  .product-list__footer {
    margin-top: 10px;
  }
}
@media (max-width: 350px) {
  .product-list__img-w {
    width: 90px;
  }

  .product-list__cont {
    width: calc(100% - 90px);
    padding-left: 20px;
  }
}
.footer {
  background: #FBFBFB;
  padding: 69px 0 0;
  margin: 50px 0 0;
}
.footer__nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__nav-item {
  margin: 0 25px;
}
.footer__nav-link {
  display: block;
  text-decoration: none;
  color: #262626;
  font-weight: 500;
  font-size: 16px;
  line-height: 138.7%;
  transition: 0.3s all ease;
}
.footer__nav-link:hover {
  color: #F16861;
}
.footer__logo {
  width: 195px;
  height: 56px;
  display: inline-block;
  vertical-align: top;
  background: url("images/logo.svg") no-repeat center;
  background-size: cover;
  margin: 51px 0 0;
  text-decoration: none;
}
.footer__tel {
  color: #262626;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  height: 84px;
  padding: 0 38px;
  font-size: 48px;
  line-height: 1;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #959595;
  border-radius: 100px;
  margin: 56px 0 0;
  transition: 0.3s all ease;
}
.footer__tel:hover {
  color: #fff;
  background: #F16861;
  border-color: #F16861;
}
.footer__inst {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #959595;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-family: "Jost", sans-serif;
  margin: 44px 0 0;
  transition: 0.3s all ease;
}
.footer__inst i {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 0;
  color: #4A4E51;
}
.footer__inst:hover {
  color: #F16861;
}
.footer__copy-lang {
  border-top: 1px solid rgba(149, 149, 149, 0.2);
  padding: 42px 0;
  margin: 48px auto 0;
  max-width: 458px;
  text-align: center;
  color: rgba(149, 149, 149, 0.5);
  font-size: 10px;
  line-height: 16px;
  font-family: "Jost", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 54px;
  }
  .footer__logo {
    margin-top: 25px;
  }

  .footer__nav-item {
    margin: 0 20px 14px;
  }
}
@media (max-width: 568px) {
  .footer__logo {
    width: 160px;
    height: 46px;
  }
  .footer__tel {
    height: 60px;
    font-size: 24px;
    line-height: 58px;
    padding: 0 15px;
    margin-top: 41px;
    width: 344px;
    max-width: 100%;
    text-align: center;
    justify-content: center;
  }
  .footer__inst {
    margin-top: 34px;
  }
  .footer__copy-lang {
    margin: 43px -24px 0;
    padding: 35px 0;
    width: auto;
    max-width: none;
  }

  .footer__nav-item {
    width: 100%;
    margin: 0 0 28px;
    text-align: center;
  }

  .footer__nav-link {
    font-size: 18px;
  }

  .footer__logo {
    margin-top: 16px;
  }
}
@media (max-width: 360px) {
  .footer__copy-lang {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.pdp {
  margin: 40px auto;
  max-width: 1175px;
}
.pdp__inner {
  position: relative;
}
.pdp__img {
  height: 882px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}
.pdp .breadcrumbs {
  position: absolute;
  top: 35px;
  left: 33px;
  z-index: 50;
}
.pdp__cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 34px 0;
}
.pdp__inner {
  position: relative;
  margin: 0 -13px;
}
.pdp__zoom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 33px;
  bottom: 46px;
  z-index: 50;
  width: 50px;
  height: 50px;
  color: #fff;
  background: linear-gradient(135deg, #E6268A 0%, #FDBE2C 100%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 24px;
  text-decoration: none;
}
.pdp__info {
  position: absolute;
  top: 0;
  right: 9px;
  width: 410px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 32px;
  border-radius: 16px;
}
.pdp__info-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 17px;
}
.pdp__info p {
  color: #959595;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 15px;
}
.pdp__info-size {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 0;
}
.pdp__info-size h4 {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.pdp__info-size .spiner {
  margin-right: -22px;
  margin-top: -8px;
}
.pdp__info-size .spiner__btn {
  width: 58px;
}
.pdp__info-submit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 52px;
  background: linear-gradient(90deg, #E6268A -50.64%, #FDBE2C 102.36%), #F16861;
  box-shadow: 0 2px 3px rgba(0, 158, 246, 0.21);
  border-radius: 10px;
  text-decoration: none;
  margin: 40px 0 0;
  padding: 0 15px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 170%;
  transition: 0.3s all ease;
}
.pdp__info-submit:hover {
  background: linear-gradient(90deg, #E6268A -50.64%, #FDBE2C 150%), #F16861;
}
.pdp__info-submit .col-auto {
  padding: 0 5px;
}
.pdp__info-submit-name span {
  margin-left: 10px;
}
.pdp__info-submit-name .icon-basket {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  margin: 3px 0 0;
}
.pdp__additionally {
  margin: 33px 0 0;
}
.pdp__additionally-title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.additionally {
  padding: 0;
  margin: 18px 0 0;
  list-style: none;
}
.additionally__item {
  margin-bottom: 12px;
}
.additionally__inner {
  display: block;
  position: relative;
  cursor: pointer;
}
.additionally__check {
  display: inline-flex;
  vertical-align: top;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #D7D7D7;
  background: #fff;
  transition: 0.3s all ease;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
}
.additionally__name {
  font-size: 10px;
  margin-left: 12px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.additionally__cont {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-family: "Inter", sans-serif;
}
.additionally__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.additionally__input:checked + .additionally__cont {
  color: #9DB311;
}
.additionally__input:checked + .additionally__cont .additionally__name {
  font-weight: bold;
}
.additionally__input:checked + .additionally__cont .additionally__check {
  background: #9DB311;
  border-color: #9DB311;
}

.pdp-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s all ease;
  transform: translate(-100%, 0);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}
.pdp-modal--active {
  transform: translate(0, 0);
  opacity: 1;
  z-index: 500;
  visibility: visible;
}
.pdp-modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s all ease;
  text-align: center;
  line-height: 40px;
  z-index: 50;
}
.pdp-modal__close:hover {
  color: #f16861;
}

.pdp-slider {
  height: 100%;
}
.pdp-slider .slick-list,
.pdp-slider .slick-track, .pdp-slider__item {
  height: 100%;
}
.pdp-slider__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.pdp-slider__img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.pdp-slider .slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pdp-slider .slick-dots li {
  margin: 0 9px;
  position: relative;
  width: 14px;
  height: 15px;
  z-index: 50;
  cursor: pointer;
}
.pdp-slider .slick-dots li:before, .pdp-slider .slick-dots li:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #fff;
  content: "";
  display: block;
  transition: 0.3s all ease;
}
.pdp-slider .slick-dots li:after {
  background: linear-gradient(135deg, #E6268A 0%, #FDBE2C 100%);
  opacity: 0;
  z-index: 10;
}
.pdp-slider .slick-dots li.slick-active:before, .pdp-slider .slick-dots li:hover:before {
  box-shadow: 0 0 0 4px #fff;
}
.pdp-slider .slick-dots li.slick-active:after, .pdp-slider .slick-dots li:hover:after {
  opacity: 1;
}
.pdp-slider .slick-dots button {
  display: none;
}

@media (max-width: 1280px) {
  .pdp {
    margin-left: 15px;
    margin-right: 15px;
  }
  .pdp__inner {
    margin: 0;
  }
  .pdp__img {
    height: 700px;
  }
}
@media (max-width: 1024px) {
  .pdp {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .pdp .breadcrumbs {
    top: 29px;
    left: 30px;
  }
  .pdp__info {
    position: static;
    top: auto;
    right: auto;
    margin: -109px auto 0;
    width: 450px;
    max-width: 100%;
  }
  .pdp__img {
    height: 466px;
  }
  .pdp__cont {
    padding-top: 30px;
    position: static;
    top: auto;
    left: auto;
  }
  .pdp__cont .main-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pdp__zoom {
    left: 30px;
    bottom: 29px;
  }
}
@media (max-width: 992px) {
  .pdp .spiner__num {
    height: 36px;
    line-height: 36px;
    font-size: 24px;
  }
  .pdp .spiner__btn {
    width: 44px;
    height: 36px;
  }
}
@media (max-width: 750px) {
  .pdp {
    margin-left: 0;
    margin-right: 0;
  }
  .pdp .breadcrumbs {
    display: none;
  }
  .pdp__img {
    height: 256px;
    border-radius: 10px 10px 0 0;
  }
  .pdp__zoom {
    display: none;
  }
  .pdp .main-container {
    padding: 0;
  }
  .pdp__info {
    margin: 0;
    width: 100%;
    max-width: none;
    padding: 24px;
  }
  .pdp__cont {
    padding: 0;
  }
  .pdp__info-submit {
    margin-top: 32px;
  }
}
.shares-bn {
  margin-bottom: 47px;
}
.shares-bn__img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.07);
}

.shares-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.shares-list__item {
  border-bottom: 1px solid #D7D7D7;
  margin-bottom: 48px;
  padding-bottom: 44px;
}
.shares-list__item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.shares-list__btn {
  width: 230px;
  margin: 13px 0 0;
}

@media (max-width: 768px) {
  .shares-bn {
    margin-bottom: 30px;
  }
}
@media (max-width: 568px) {
  .shares .main-title {
    margin-bottom: 25px;
  }

  .shares-list__item {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}
.feedback {
  background: #FBFBFB;
  border: 1px solid rgba(215, 215, 215, 0.6);
  border-radius: 0 0 16px 16px;
  padding: 8px 15px 63px;
  width: 745px;
  max-width: 100%;
  margin: 42px 0 0;
}
.feedback__inner {
  width: 447px;
  margin: auto;
  max-width: 100%;
}
.feedback__title {
  background: -webkit-linear-gradient(135deg, #FDBE2C 68%, #E6268A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.18;
  margin: 56px 0 33px;
}
.feedback__submit {
  font-weight: bold;
  font-size: 20px;
  height: 70px;
  line-height: 70px;
  width: 345px;
  max-width: 100%;
  margin: 27px 0 0;
}

@media (max-width: 568px) {
  .feedback {
    margin: 38px -25px 0;
    width: auto;
    max-width: none;
    padding: 35px 24px 33px;
  }
  .feedback__title {
    margin: 56px 0 33px;
  }
  .feedback__title:first-child {
    margin-top: 0;
  }
  .feedback__submit {
    margin-top: 4px;
  }
}
.cart {
  padding: 49px 0 0;
}
.cart .main-title {
  margin-top: 16px;
  margin-bottom: 0;
}
.cart__row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 30px;
  position: relative;
}
.cart__cont {
  width: calc(100% - 363px);
}
.cart__aside {
  width: 363px;
  padding-left: 47px;
  transition: 0.3s all ease;
}
.cart__aside--fixed {
  position: fixed;
  top: 15px;
}
.cart__aside--absolute {
  position: absolute;
  bottom: 0;
  right: 0;
}
.cart__btn-submit {
  width: 100%;
  margin: 26px 0 0;
}

.cart-info {
  border: 1px solid rgba(215, 215, 215, 0.6);
  background: #fff;
  border-radius: 16px;
  display: block;
}

.cart-empty {
  margin: 104px 0 0;
  padding-bottom: 40px;
}
.cart-empty__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 1.18;
  color: #D7D7D7;
  margin: 0 0 17px;
}
.cart-empty p {
  font-size: 18px;
  line-height: 170%;
  font-family: "Inter", sans-serif;
  color: #000;
  margin: 0;
}
.cart-empty__btn {
  margin: 47px 0 0;
  width: 345px;
  max-width: 100%;
}

.cart-list {
  padding: 4px 26px 0 32px;
  margin: 0;
  list-style: none;
}
.cart-list__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 28px 0;
}
.cart-list__cont {
  width: calc(100% - 150px);
}
.cart-list__spiner {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cart-list__spiner-mob {
  margin-top: 14px;
  display: none;
}
.cart-list__product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cart-list__product-img-w {
  width: 80px;
}
.cart-list__product-img {
  display: block;
  width: 100%;
}
.cart-list__product-cont {
  width: calc(100% - 80px);
  padding-left: 30px;
}
.cart-list__product-name {
  margin: 0;
  font-size: 18px;
  line-height: 170%;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}
.cart-list__product-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  margin: 14px 0 0;
}
.cart-list__product-inf {
  padding: 0;
  margin: 0;
  list-style: none;
}
.cart-list__product-inf-item {
  color: #959595;
  font-size: 14px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  margin-bottom: 5px;
}
.cart-list__product-inf-item:last-child {
  margin-bottom: 0;
}

.cart-form {
  border-top: 1px solid rgba(215, 215, 215, 0.6);
  background: #FBFBFB;
  padding: 8px 24px 63px;
}
.cart-form__inner {
  width: 447px;
  max-width: 100%;
  margin: auto;
}
.cart-form__title {
  background: -webkit-linear-gradient(135deg, #FDBE2C 68%, #E6268A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.18;
  margin: 56px 0 33px;
}

.cart-points {
  border-bottom: 1px solid rgba(215, 215, 215, 0.6);
  margin: 0 -24px;
  padding: 0 24px 57px;
}
.cart-points .cart-form__title {
  margin: 48px 0 33px;
}
.cart-points p {
  font-size: 18px;
  line-height: 170%;
  font-family: "Inter", sans-serif;
  color: #000000;
  margin: 0;
}
.cart-points__btn {
  width: 100%;
  margin: 15px 0 0;
}
.cart-points__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 0 0;
}
.cart-points__inner-text {
  color: #9DB311;
  font-size: 16px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  padding-left: 15px;
}
.cart-points__inner-btn {
  width: 180px;
}
.cart-points__inner-btn .btn-d {
  width: 100%;
}
.cart-points--aside {
  padding: 0 0 36px;
  margin: 0 0 39px;
}
.cart-points--aside .cart-form__title {
  margin: -5px 0 25px;
}
.cart-points--aside .cart-points__btn {
  margin-top: 26px;
}
.cart-points--aside .cart-points__inner {
  margin: 25px 0 0;
}
.cart-points--aside .cart-points__inner-btn {
  width: 100%;
}
.cart-points--aside .cart-points__inner-text {
  padding: 15px 0 0;
}

.cart-radio {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 24px;
  border: 1px solid #D7D7D7;
  background: #FBFBFB;
  border-radius: 5px;
  overflow: hidden;
}
.cart-radio__item {
  width: 50%;
  border-left: 1px solid #D7D7D7;
}
.cart-radio__item:first-child {
  border-left: 0;
}
.cart-radio__inner {
  display: block;
  position: relative;
  height: 100%;
}
.cart-radio__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s all ease;
  position: relative;
  padding: 16px 10px;
  height: 100%;
}
.cart-radio__cont:before {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 2px;
  margin-top: -2px;
  background: #F16861;
  transition: 0.3s all ease;
  display: block;
  content: "";
}
.cart-radio__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.cart-radio__input:checked + .cart-radio__cont {
  color: #F16861;
  font-weight: 800;
  background: #FFFFFF;
}
.cart-radio__input:checked + .cart-radio__cont:before {
  width: 100%;
  left: 0;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin: 4px -10px 0;
}
.cart-table td {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  padding: 0 10px 32px;
}
.cart-table td:last-child {
  text-align: right;
  font-family: "Inter", sans-serif;
}
.cart-table tr:last-child td {
  padding-bottom: 10px;
}
.cart-table__about {
  color: #959595;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 150%;
}
.cart-table__discount {
  font-weight: 500;
  color: #F16861;
}

.cart-table-total {
  border-top: 1px solid #D7D7D7;
  margin-top: 21px;
  padding-top: 35px;
  font-weight: 500;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .cart__cont {
    width: 100%;
  }

  .cart__aside {
    padding-left: 0;
    padding-top: 64px;
    width: 450px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .cart-points--aside .cart-points__inner-btn {
    width: 180px;
  }
  .cart-points--aside .cart-points__inner-text {
    padding: 0 0 0 15px;
  }
}
@media (max-width: 768px) {
  .cart {
    padding-top: 20px;
  }

  .cart-empty {
    margin: 77px 0 0;
  }
  .cart-empty__title {
    font-size: 30px;
  }

  .cart-list__spiner .spiner__btn {
    width: 44px;
    height: 36px;
  }
  .cart-list__spiner .spiner__btn:before, .cart-list__spiner .spiner__btn:after {
    margin: -1px 0 0 -7px;
    width: 14px;
  }
  .cart-list__spiner .spiner__num {
    height: 36px;
    line-height: 36px;
    font-size: 24px;
  }

  .cart-form {
    padding-bottom: 44px;
  }
}
@media (max-width: 568px) {
  .cart {
    padding-top: 26px;
  }
  .cart .main-title {
    margin-top: 23px;
  }

  .cart-empty {
    margin: 63px 0 0;
  }

  .cart-info {
    border-radius: 0;
    margin-left: -24px;
    margin-right: -24px;
    border: 0;
  }

  .cart-list {
    padding-left: 24px;
    padding-right: 24px;
  }
  .cart-list__product-price {
    font-size: 16px;
  }
  .cart-list__cont {
    width: 100%;
  }
  .cart-list__product-img-w {
    width: 110px;
  }
  .cart-list__product-cont {
    width: calc(100% - 110px);
    padding-left: 20px;
  }
  .cart-list__item {
    position: relative;
  }
  .cart-list__product {
    width: 100%;
  }
  .cart-list__spiner-mob {
    display: flex;
  }
  .cart-list__spiner {
    display: none;
  }
  .cart-list__spiner .spiner__num {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
  }
  .cart-list__spiner .spiner__btn {
    height: 24px;
    width: 24px;
  }
  .cart-list__spiner .spiner__btn:before, .cart-list__spiner .spiner__btn:after {
    width: 12px;
    margin: -1px 0 0 -6px;
  }

  .cart-form {
    padding: 35px 24px 33px;
  }

  .cart-points {
    margin-bottom: 33px;
    padding-bottom: 33px;
  }
  .cart-points__inner-btn {
    width: 100%;
  }
  .cart-points__inner-btn .btn-d {
    height: 70px;
    line-height: 70px;
    font-size: 20px;
  }
  .cart-points__inner-text {
    padding-left: 0;
    padding-top: 15px;
  }
  .cart-points .btn-r {
    height: 70px;
  }
  .cart-points .btn-r__inner {
    height: 66px;
  }
  .cart-points .btn-r__text {
    font-size: 20px;
  }
  .cart-points--aside .cart-points__inner-btn {
    width: 100%;
  }
  .cart-points--aside .cart-points__inner-text {
    padding: 15px 0 0;
  }

  .cart-form__title {
    margin: 56px 0 33px;
  }
  .cart-form__title:first-child {
    margin-top: 0;
  }

  .cart__aside {
    padding-top: 30px;
  }
}
@media (max-width: 360px) {
  .cart-info {
    margin-left: -15px;
    margin-right: -15px;
  }

  .cart-list,
.cart-form {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.profile {
  margin: 43px 0 0;
  padding-bottom: 30px;
}
.profile .main-title {
  font-size: 50px;
  margin-bottom: 30px;
}
.profile__row {
  display: flex;
  flex-wrap: wrap;
}
.profile__cont {
  width: calc(100% - 317px);
}
.profile__aside {
  width: 317px;
  padding-left: 30px;
}
.profile__points {
  max-width: 540px;
}
.profile__points-cont {
  background: #FBFBFB;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  text-align: center;
  color: #000000;
  padding: 43px 15px 41px;
}
.profile__points-cont p {
  margin: 0 0 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
}
.profile__points-cont h3 {
  font-size: 48px;
  line-height: 118%;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  margin: 0;
}
.profile__points-btn {
  margin: 30px 0 0;
  min-width: 203px;
}
.profile__points-form {
  margin: 54px 0 0;
}
.profile__points-form .category-title {
  font-size: 26px;
  margin: 0 0 33px;
}
.profile__points-form-submit {
  margin-top: 8px;
}

.profile-nav {
  padding: 0;
  margin: 4px 0 0;
  list-style: none;
}
.profile-nav__item {
  margin-bottom: 48px;
}
.profile-nav__link {
  transition: 0.3s all ease;
  text-decoration: none;
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 21px;
  position: relative;
}
.profile-nav__link:before {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 5px;
  transition: 0.3s all ease;
  display: block;
  content: "";
  background: #F16861;
  margin: 7px 0 0;
}
.profile-nav__link:hover:before, .profile-nav__link--active:before {
  left: 0;
  width: 100%;
}
.profile-nav__link--active {
  font-weight: bold;
}

.address {
  max-width: 541px;
}
.address__cont {
  background: #FBFBFB;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 36px 34px 30px;
}
.address__cont h3 {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 24px;
}
.address__cont-footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.address__cont-footer .col-1-2 {
  padding-left: 10px;
  padding-right: 10px;
}
.address__edit {
  margin: 32px 0 0;
}
.address__edit .form-row {
  position: relative;
}
.address__edit .form-row__input {
  padding-right: 50px;
}
.address__edit-b {
  position: absolute;
  top: 10px;
  right: 13px;
}
.address__edit-b-btn {
  display: none;
}
.address__edit-b-drop {
  display: flex;
  flex-wrap: wrap;
}
.address__edit-b-link {
  text-decoration: none;
  font-size: 14px;
  color: #D7D7D7;
  padding: 10px;
  display: block;
  transition: 0.3s all ease;
}
.address__edit-b-link:hover {
  color: #F16861;
}
.address__edit-b-text {
  display: none;
}

.order-history {
  padding: 0;
  margin: 0;
  list-style: none;
}
.order-history__item {
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 40px;
}
.order-history__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(215, 215, 215, 0.13);
  padding: 32px;
  padding-bottom: 26px;
}
.order-history__header-cont {
  width: calc(100% - 130px);
  padding-right: 30px;
}
.order-history__header-status-w {
  width: 130px;
  text-align: right;
}
.order-history__header-date {
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 8px;
}
.order-history__header-address {
  font-weight: 500;
  font-size: 16px;
  line-height: 138.7%;
  color: #959595;
}
.order-history__status {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  border: 1px solid #D7D7D7;
  border-radius: 96px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 48px;
  padding: 0 27px;
}
.order-history__status span {
  background: -webkit-linear-gradient(135deg, #FDBE2C 68%, #E6268A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.order-history__status--received {
  padding: 0 20px;
}
.order-history__status--received span {
  background: transparent;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #9DB311;
  color: #9DB311;
}
.order-history__cont {
  background: #fff;
  padding: 20px 32px;
}
.order-history__cont .category-title {
  font-size: 26px;
  margin: 0;
}
.order-history .cart-list {
  padding: 13px 0 0;
}
.order-history .cart-list__num {
  font-size: 16px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
}
.order-history .cart-list__num--mob {
  display: none;
}
.order-history .cart-list__product-img-w {
  width: 65px;
}
.order-history .cart-list__product-cont {
  width: calc(100% - 65px);
}
.order-history .cart-list__product-name {
  font-size: 16px;
}
.order-history .cart-list__product-price {
  margin-top: 0;
}
.order-history .cart-list__item {
  padding: 20px 0;
}
.order-history__total {
  border-top: 1px solid #D7D7D7;
  padding: 17px 32px;
}
.order-history__total-table {
  width: 100%;
  border-collapse: collapse;
}
.order-history__total-table td {
  line-height: 30px;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 0;
}
.order-history__total-table td:last-child {
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}
.order-history__total-table td.lg {
  font-weight: 500;
  font-size: 24px;
}
.order-history__submit {
  margin-top: 18px;
  margin-bottom: 14px;
}

@media (max-width: 992px) {
  .profile__cont {
    width: calc(100% - 215px);
  }
  .profile__aside {
    width: 215px;
  }
}
@media (max-width: 768px) {
  .profile {
    margin-top: 21px;
  }
  .profile .main-title {
    font-size: 45px;
    margin-bottom: 37px;
  }

  .address__edit {
    margin-top: 20px;
  }

  .order-history__header {
    padding-bottom: 24px;
  }
  .order-history__cont .category-title {
    font-size: 24px;
  }
  .order-history .cart-list__product-cont {
    padding-left: 23px;
  }
}
@media (max-width: 700px) {
  .profile__cont {
    width: 100%;
  }
  .profile__aside {
    width: 100%;
    border-top: 1px solid #D7D7D7;
    margin-top: 49px;
    padding-top: 44px;
    padding-left: 0;
  }
}
@media (max-width: 568px) {
  .profile {
    margin-top: 16px;
  }
  .profile .main-title {
    font-size: 30px;
    margin-bottom: 23px;
  }
  .profile__points-cont {
    padding: 29px 15px 35px;
  }
  .profile__points-cont h3 {
    font-size: 34px;
  }
  .profile__points-form {
    margin: 42px 0 0;
  }
  .profile__points-form .category-title {
    font-size: 24px;
    margin: 0 0 25px;
  }

  .address {
    max-width: none;
  }
  .address__cont {
    margin-left: -24px;
    margin-right: -24px;
    box-shadow: none;
    padding: 24px;
  }
  .address__edit-b {
    top: 16px;
    right: 7px;
  }
  .address__edit-b-btn {
    padding: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
  }
  .address__edit-b-btn span {
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background: #959595;
    margin: 0 1px;
    transition: 0.3s all ease;
  }
  .address__edit-b-drop {
    z-index: -1;
    position: absolute;
    width: 241px;
    top: -16px;
    right: -7px;
    background: #FBFBFB;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 50px);
    transition: 0.3s all ease;
  }
  .address__edit-b-item {
    width: 100%;
    border-bottom: 1px solid rgba(215, 215, 215, 0.4);
  }
  .address__edit-b-item:last-child {
    border-bottom: 0;
  }
  .address__edit-b-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    height: 52px;
  }
  .address__edit-b-icon {
    width: 52px;
    display: block;
    text-align: center;
    color: #F16861;
  }
  .address__edit-b-text {
    display: block;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .address__edit-b--active .address__edit-b-btn {
    z-index: 50;
  }
  .address__edit-b--active .address__edit-b-btn span {
    background: #000;
  }
  .address__edit-b--active .address__edit-b-drop {
    opacity: 1;
    z-index: 30;
    transform: translate(0, 0);
    visibility: visible;
  }

  .order-history__header {
    padding: 20px 16px;
  }
  .order-history__header-date {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .order-history__header-cont {
    padding-right: 5px;
  }
  .order-history__cont {
    padding: 27px 16px;
  }
  .order-history__cont .category-title {
    font-size: 26px;
  }
  .order-history__total {
    padding: 17px 16px;
  }
  .order-history .cart-list__num {
    display: none;
  }
  .order-history .cart-list__num--mob {
    display: block;
  }
}
@media (max-width: 480px) {
  .address__cont-footer .col-1-2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .address__cont-footer .col-1-2:last-child {
    margin-bottom: 0;
  }
  .address__cont-footer .btn-d-r,
.address__cont-footer .btn {
    height: 70px;
    font-size: 20px;
  }
  .address__cont-footer .btn {
    line-height: 70px;
  }
  .address__cont-footer .btn-d-r {
    line-height: 66px;
  }
}
.success {
  margin-top: 87px;
  padding-bottom: 30px;
}
.success .main-title {
  font-size: 50px;
  margin-bottom: 34px;
}
.success__inner {
  max-width: 730px;
}
.success p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 170%;
}
.success__num-label {
  margin: 0 0 2px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.success__num {
  font-size: 48px;
  line-height: 118%;
  font-family: "Inter", sans-serif;
  margin: 0 0 26px;
}
.success__btn {
  margin: 14px 0 0;
  min-width: 345px;
}

@media (max-width: 768px) {
  .success {
    margin-top: 59px;
  }
  .success .main-title {
    font-size: 45px;
  }
  .success__btn {
    margin: 12px 0 0;
    min-width: 330px;
  }
}
@media (max-width: 568px) {
  .success {
    margin-top: 14px;
    padding-bottom: 0;
  }
  .success .main-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .success__num-label {
    margin-bottom: 6px;
  }
  .success__num {
    font-size: 34px;
    margin-bottom: 20px;
  }
  .success__btn {
    width: 100%;
  }
}