.main-container
  a(href="").back-to-menu
    i.icon-angle-2-left
    |  Назад в каталог
.profile
  .main-container
    h1.main-title Адреса доставки
    .profile__row
      .profile__cont
        .address
          .address__cont
            h3 Отредактируйте адрес
            .form-row
              input(type="text" value="ул. Ленина, д.21/2, кв|" placeholder="Укажите адресс").form-row__input
            .address__cont-footer
              .col-1-2
                a(href="").btn-d-r.btn-d-r--gray.btn--full Отмена
              .col-1-2
                a(href="").btn.btn--full Сохранить
          .address__edit
            .form-row
              input(type="text" placeholder="Укажите адресс" value="ул. Автозаводская, д.21, кв. 221").form-row__input
              .address__edit-b
                .address__edit-b-btn
                  span
                  span
                  span
                .address__edit-b-drop
                  .address__edit-b-item
                    a(href="").address__edit-b-link
                      span.address__edit-b-icon
                        i.icon-edit
                      span.address__edit-b-text Редактировать
                  .address__edit-b-item
                    a(href="").address__edit-b-link
                      span.address__edit-b-icon
                        i.icon-close
                      span.address__edit-b-text Удалить
            .form-row
              input(type="text" placeholder="Укажите адресс" value="ул. Новаторов, д.34, кв. 9").form-row__input
              .address__edit-b
                .address__edit-b-btn
                  span
                  span
                  span
                .address__edit-b-drop
                  .address__edit-b-item
                    a(href="").address__edit-b-link
                      span.address__edit-b-icon
                        i.icon-edit
                      span.address__edit-b-text Редактировать
                  .address__edit-b-item
                    a(href="").address__edit-b-link
                      span.address__edit-b-icon
                        i.icon-close
                      span.address__edit-b-text Удалить
      .profile__aside
        ul.profile-nav
          li.profile-nav__item
            a(href="").profile-nav__link.profile-nav__link--active Личные данные
          li.profile-nav__item
            a(href="").profile-nav__link Адреса доставки
          li.profile-nav__item
            a(href="").profile-nav__link История заказов
          li.profile-nav__item
            a(href="").profile-nav__link Выход