.main-container
  .cart
    a(href="index.html").back
      i.icon-angle-2-left
      |  Вернуться на главную
    h1.main-title Корзина
    .cart__row
      .cart__cont
        form.cart-info
          ul.cart-list
            li.cart-list__item
              .cart-list__cont
                .cart-list__product
                  .cart-list__product-img-w
                    img(src="img/pic-16.jpg" alt="").cart-list__product-img
                  .cart-list__product-cont
                    h3.cart-list__product-name Пицца Домашняя
                    .flex-wrap
                      .col-auto.mr-auto
                        .cart-list__product-price 500 ₽
                      .col-auto
                        .spiner.cart-list__spiner-mob
                          a(href="").spiner__btn.spiner__btn--down
                          .spiner__num 1
                          a(href="").spiner__btn.spiner__btn--up
              .cart-list__spiner
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 1
                  a(href="").spiner__btn.spiner__btn--up
            li.cart-list__item
              .cart-list__cont
                .cart-list__product
                  .cart-list__product-img-w
                    img(src="img/pic-16.jpg" alt="").cart-list__product-img
                  .cart-list__product-cont
                    h3.cart-list__product-name Пицца Домашняя
                    ul.cart-list__product-inf
                      li.cart-list__product-inf-item + Перец острый халапеньо
                    .flex-wrap
                      .col-auto.mr-auto
                        .cart-list__product-price 550 ₽
                      .col-auto
                        .spiner.cart-list__spiner-mob
                          a(href="").spiner__btn.spiner__btn--down
                          .spiner__num 1
                          a(href="").spiner__btn.spiner__btn--up
              .cart-list__spiner
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 3
                  a(href="").spiner__btn.spiner__btn--up
            li.cart-list__item
              .cart-list__cont
                .cart-list__product
                  .cart-list__product-img-w
                    img(src="img/pic-17.jpg" alt="").cart-list__product-img
                  .cart-list__product-cont
                    h3.cart-list__product-name Ролл Калифорния с креветк...
                    ul.cart-list__product-inf
                      li.cart-list__product-inf-item + Перец острый халапеньо
                    .flex-wrap
                      .col-auto.mr-auto
                        .cart-list__product-price 319 ₽
                      .col-auto
                        .spiner.cart-list__spiner-mob
                          a(href="").spiner__btn.spiner__btn--down
                          .spiner__num 1
                          a(href="").spiner__btn.spiner__btn--up
              .cart-list__spiner
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 3
                  a(href="").spiner__btn.spiner__btn--up
          .cart-form
            .cart-form__inner
              h3.cart-form__title Информация о покупателе
              .form-row
                  input(type="text" placeholder="Ваше имя").form-row__input
              .form-row
                input(type="tel" placeholder="Номер телефона").form-row__input.phone-mask
              .form-row
                input(type="email" placeholder="Email").form-row__input
              h3.cart-form__title Информация о покупателе
              ul.cart-radio
                li.cart-radio__item
                  label.cart-radio__inner
                    input(type="radio" name="cart1").cart-radio__input
                    .cart-radio__cont Самовывоз
                li.cart-radio__item
                  label.cart-radio__inner
                    input(type="radio" name="cart1" checked).cart-radio__input
                    .cart-radio__cont Курьерская доставка
              .form-row
                input(type="text" placeholder="Адрес для доставки").form-row__input
              .form-row
                select.select-styler
                  option Доставка с 10:00 до 12:00
                  option Доставка с 12:00 до 14:00
                  option Доставка с 14:00 до 16:00
                  option Доставка с 19:00 до 21:00
                  option Доставка с 20:00 до 23:00
              h3.cart-form__title Способ оплаты
              ul.cart-radio
                li.cart-radio__item
                  label.cart-radio__inner
                    input(type="radio" name="cart2" checked).cart-radio__input
                    .cart-radio__cont Оплата при получении
                li.cart-radio__item
                  label.cart-radio__inner
                    input(type="radio" name="cart2" ).cart-radio__input
                    .cart-radio__cont Банковская карта
              .form-row
                textarea(placeholder="Комментарий к заказу").form-row__textarea
      .cart__aside
        table.cart-table
          tr
            td Сумма заказа
            td 3 143 ₽
          tr
            td Доставка
            td 0 ₽
        .cart-table-total
          .col-auto.mr-auto Итого
          .col-auto 3 143 ₽
        a(href="").btn.btn--lg.cart__btn-submit Подтвердить заказ