.main-container
  .cart
    a(href="index.html").back
      i.icon-angle-2-left
      |  Вернуться на главную
    h1.main-title Корзина
    .cart-empty
      h3.cart-empty__title Здесь пока пусто :(
      p Добавьте что-нибудь из нашего меню в корзину
      a(href="").btn.btn--lg.cart-empty__btn Посмотреть наше меню
