.main-container
  .text-page.delivery
    h1.main-title Доставка и оплата
    .text-page__inner
      p Pellentesque ornare nibh a diam, blandit eget eleifend massa. Nunc, tempus mattis nunc, eget aliquet gravida vel, imperdiet eget. Elit placerat neque, aliquam ut adipiscing diam. Turpis amet bibendum fringilla tellus.
      p Ac in risus vitae pharetra sollicitudin eget eget.Nam elementum lorem viverra sollicitudin. In lectus molestie sed nulla. Et nunc nulla egestas purus mauris viverra sit orci. Et ut egestas at scelerisque orci in porttitor dolor enim. Non lobortis tempor varius dui tortor amet commodo turpis sed.
      p Sit tellus gravida egestas sit pulvinar pharetra.
    .figure
      img(src="img/pic-15.jpg" alt="").figure__img
    .text-page__inner
      p Aliquam magna iaculis ut nisi, nec. Semper diam enim egestas lectus. Tincidunt lacinia pretium viverra neque, adipiscing eget facilisi montes. Bibendum posuere ipsum ornare elit ultricies. Rutrum at cras velit aliquam lectus eu integer porttitor.
      p At habitasse commodo, sem rhoncus lectus pulvinar et, lectus. Massa amet, tellus nisl et tincidunt facilisis dictum nisi. Ullamcorper et consequat a pretium nisl, massa sed ut porttitor.
    h2.category-title Egestas ullamcorper
    .text-page__inner
      p Aliquam magna iaculis ut nisi, nec. Semper diam enim egestas lectus. Tincidunt lacinia pretium viverra neque, adipiscing eget facilisi montes. Bibendum posuere ipsum ornare elit ultricies. Rutrum at cras velit aliquam lectus eu integer porttitor.
      p At habitasse commodo, sem rhoncus lectus pulvinar et, lectus. Massa amet, tellus nisl et tincidunt facilisis dictum nisi. Ullamcorper et consequat a pretium nisl, massa sed ut porttitor.
