.main-container
  .text-page
    h1.main-title Обратная связь
    .text-page__inner
      p Pellentesque ornare nibh a diam, blandit eget eleifend massa. Nunc, tempus mattis nunc, eget aliquet gravida vel, imperdiet eget. Elit placerat neque, aliquam ut adipiscing diam. Turpis amet bibendum fringilla tellus.
      p Ac in risus vitae pharetra sollicitudin eget eget.
    .feedback
      .feedback__inner
        h3.feedback__title Информация о покупателе
        .form-row
          input(type="text" placeholder="Ваше имя").form-row__input
        .form-row
          input(type="email" placeholder="Ваш email").form-row__input
        h3.feedback__title Сообщение
        .form-row
          textarea(placeholder="Адрес для доставки").form-row__textarea
        .text-center
          a(href="").btn.feedback__submit Отправить