.footer
  .main-container
    ul.footer__nav
        each footer_nav in ['Акции','О нас','Доставка и оплата','Обратная связь','Обработка персональных данных']
          li.footer__nav-item
            a(href="").footer__nav-link=footer_nav
    .text-center
      a(href="").footer__logo
    .text-center
      a(href="tel:8 (977) 559 4406").footer__tel 8 (977) 559 4406
      br
      a(href="").footer__inst
        i.icon-instagram
        |   Мы в Instagram
    .footer__copy-lang Japanmoose ©2020. разработка
      !=" "
      a(href="") iziSoft