header.header.header--inner.header--profile.header--p-border
  .main-container
    .header__row
      .col-auto
        a(href="").header__menu
          span
          span
          span
        a(href="").header__logo
        ul.header__nav
          li.header__nav-item
            a(href="").header__nav-link.header__nav-link--active О нас
          li.header__nav-item
            a(href="").header__nav-link Акции
          li.header__nav-item
            a(href="").header__nav-link Доставка и оплата
      .col-auto.ml-auto
        a(href="tel:8 977 559 44 06").header__phone
          i.icon-phone
          span 8 977 559 44 06
        a(href="").header__sign-in
          i.icon-user
        a(href="").header__basket
          span.header__basket-badge 3
          .col-auto
            span.header__basket-icon
              i.icon-basket
            span.header__basket-name Корзина
          .col-auto.ml-auto 1 929 ₽
  ul.header__nav-m
    li.header__nav-m-item
      a(href="").header__nav-m-link.header__nav-m-link--active Наше меню
    li.header__nav-m-item
      a(href="").header__nav-m-link О нас
    li.header__nav-m-item
      a(href="").header__nav-m-link Акции
    li.header__nav-m-item
      a(href="").header__nav-m-link Доставка и оплата
    li.header__nav-m-item
      a(href="").header__nav-m-link Обратная связь
    li.header__nav-m-item
      a(href="").header__nav-m-link Персональные данные


