.menu-nav-w
  .menu-nav
    .main-container
      .menu-nav__wrap
        .menu-nav__inner
          ul.menu-nav__list
            li.menu-nav__list-item
              a(href="#product-1").menu-nav__list-link
                .menu-nav__list-img-w
                  img(src="img/menu-nav/menu-nav-1.png" alt="").menu-nav__list-img
                p.menu-nav__list-name Пицца
            li.menu-nav__list-item
              a(href="#product-2").menu-nav__list-link
                .menu-nav__list-img-w
                  img(src="img/menu-nav/menu-nav-2.png" alt="").menu-nav__list-img
                p.menu-nav__list-name Суши и роллы
            li.menu-nav__list-item
              a(href="").menu-nav__list-link
                .menu-nav__list-img-w
                  img(src="img/menu-nav/menu-nav-3.png" alt="").menu-nav__list-img
                p.menu-nav__list-name Сеты
            li.menu-nav__list-item
              a(href="#product-3").menu-nav__list-link
                .menu-nav__list-img-w
                  img(src="img/menu-nav/menu-nav-4.png" alt="").menu-nav__list-img
                p.menu-nav__list-name Вок
            li.menu-nav__list-item
              a(href="").menu-nav__list-link
                .menu-nav__list-img-w
                  img(src="img/menu-nav/menu-nav-5.png" alt="").menu-nav__list-img
                p.menu-nav__list-name Салаты
            li.menu-nav__list-item
              a(href="").menu-nav__list-link
                .menu-nav__list-img-w
                  img(src="img/menu-nav/menu-nav-6.png" alt="").menu-nav__list-img
                p.menu-nav__list-name Супы
            li.menu-nav__list-item
              a(href="").menu-nav__list-link
                .menu-nav__list-img-w
                  img(src="img/menu-nav/menu-nav-7.png" alt="").menu-nav__list-img
                p.menu-nav__list-name Напитки
            li.menu-nav__list-item
              a(href="").menu-nav__list-link
                .menu-nav__list-img-w
                  img(src="img/menu-nav/menu-nav-8.png" alt="").menu-nav__list-img
                p.menu-nav__list-name Закуски