.main-container
  a(href="").back-to-menu
    i.icon-angle-2-left
    |  Назад в каталог
.profile
  .main-container
    h1.main-title История заказов
    .profile__row
      .profile__cont
        ul.order-history
          li.order-history__item
            .order-history__header
              .order-history__header-cont
                .order-history__header-date 4 августа 2020, 12:17
                .order-history__header-address Россия, Москва, Автозаводская улица, 19к1
              .order-history__header-status-w
                .order-history__status
                  span В пути
            .order-history__cont
              h3.category-title Ваш заказ
              ul.cart-list
                li.cart-list__item
                  .cart-list__cont
                    .cart-list__product
                      .cart-list__product-img-w
                        img(src="img/pic-16.jpg" alt="").cart-list__product-img
                      .cart-list__product-cont
                        h3.cart-list__product-name Пицца Домашняя
                        .flex-wrap
                          .col-auto.mr-auto
                            .cart-list__product-price 500 ₽
                          .col-auto
                            .cart-list__num.cart-list__num--mob 3 шт.
                  .cart-list__spiner
                    .cart-list__num 3 шт.
                li.cart-list__item
                  .cart-list__cont
                    .cart-list__product
                      .cart-list__product-img-w
                        img(src="img/pic-16.jpg" alt="").cart-list__product-img
                      .cart-list__product-cont
                        h3.cart-list__product-name Пицца Домашняя
                        ul.cart-list__product-inf
                          li.cart-list__product-inf-item + Перец острый халапеньо
                        .flex-wrap
                          .col-auto.mr-auto
                            .cart-list__product-price 550 ₽
                          .col-auto
                            .cart-list__num.cart-list__num--mob 1 шт.
                  .cart-list__spiner
                    .cart-list__num 1 шт.
                li.cart-list__item
                  .cart-list__cont
                    .cart-list__product
                      .cart-list__product-img-w
                        img(src="img/pic-17.jpg" alt="").cart-list__product-img
                      .cart-list__product-cont
                        h3.cart-list__product-name Ролл Калифорния с креветк...
                        ul.cart-list__product-inf
                          li.cart-list__product-inf-item + Перец острый халапеньо
                        .flex-wrap
                          .col-auto.mr-auto
                            .cart-list__product-price 319 ₽
                          .col-auto
                            .cart-list__num.cart-list__num--mob 3 шт.
                  .cart-list__spiner
                    .cart-list__num 3 шт.
            .order-history__total
              table.order-history__total-table
                tr
                  td Сумма заказа
                  td 3 143 ₽
                tr
                  td Доставка
                  td 0 ₽
                tr
                  td Итого
                  td.lg 3 143 ₽
          li.order-history__item
            .order-history__header
              .order-history__header-cont
                .order-history__header-date 4 августа 2020, 12:17
                .order-history__header-address Россия, Москва, Автозаводская улица, 19к1
              .order-history__header-status-w
                .order-history__status.order-history__status--received
                  span Получен
            .order-history__cont
              h3.category-title Ваш заказ
              ul.cart-list
                li.cart-list__item
                  .cart-list__cont
                    .cart-list__product
                      .cart-list__product-img-w
                        img(src="img/pic-16.jpg" alt="").cart-list__product-img
                      .cart-list__product-cont
                        h3.cart-list__product-name Пицца Домашняя
                        .flex-wrap
                          .col-auto.mr-auto
                            .cart-list__product-price 500 ₽
                          .col-auto
                            .cart-list__num.cart-list__num--mob 3 шт.
                  .cart-list__spiner
                    .cart-list__num 3 шт.
                li.cart-list__item
                  .cart-list__cont
                    .cart-list__product
                      .cart-list__product-img-w
                        img(src="img/pic-16.jpg" alt="").cart-list__product-img
                      .cart-list__product-cont
                        h3.cart-list__product-name Пицца Домашняя
                        ul.cart-list__product-inf
                          li.cart-list__product-inf-item + Перец острый халапеньо
                        .flex-wrap
                          .col-auto.mr-auto
                            .cart-list__product-price 550 ₽
                          .col-auto
                            .cart-list__num.cart-list__num--mob 1 шт.
                  .cart-list__spiner
                    .cart-list__num 1 шт.
                li.cart-list__item
                  .cart-list__cont
                    .cart-list__product
                      .cart-list__product-img-w
                        img(src="img/pic-17.jpg" alt="").cart-list__product-img
                      .cart-list__product-cont
                        h3.cart-list__product-name Ролл Калифорния с креветк...
                        ul.cart-list__product-inf
                          li.cart-list__product-inf-item + Перец острый халапеньо
                        .flex-wrap
                          .col-auto.mr-auto
                            .cart-list__product-price 319 ₽
                          .col-auto
                            .cart-list__num.cart-list__num--mob 3 шт.
                  .cart-list__spiner
                    .cart-list__num 3 шт.
            .order-history__total
              table.order-history__total-table
                tr
                  td Сумма заказа
                  td 3 143 ₽
                tr
                  td Доставка
                  td 0 ₽
                tr
                  td Итого
                  td.lg 3 143 ₽
              a(href="").btn.btn--full.btn--lg.order-history__submit Повторить заказ
      .profile__aside
        ul.profile-nav
          li.profile-nav__item
            a(href="").profile-nav__link.profile-nav__link--active Личные данные
          li.profile-nav__item
            a(href="").profile-nav__link Адреса доставки
          li.profile-nav__item
            a(href="").profile-nav__link История заказов
          li.profile-nav__item
            a(href="").profile-nav__link Выход