.popular
	.main-container
		h2.category-title Популярное
		.popular__inner
			.popular__s-wrap
				.popular-slider
					.popular-slider__item
						a(href="").popular-slider__inner
							.popular-slider__img-w
								img(src="img/popular-slider/popular-slider-1.png" alt="").popular-slider__img
							.popular-slider__cont
								.popular-slider__name Пицца
									br
									|  Чизбургер
								.popular-slider__price
									span.popular-slider__price--old 699 ₽
									|  529 ₽
					.popular-slider__item
						a(href="").popular-slider__inner
							.popular-slider__img-w
								img(src="img/popular-slider/popular-slider-2.png" alt="").popular-slider__img
							.popular-slider__cont
								.popular-slider__name Пицца
									br
									|  Домашняя
								.popular-slider__price
									span.popular-slider__price--old 699 ₽
									|  529 ₽
					.popular-slider__item
						a(href="").popular-slider__inner
							.popular-slider__img-w
								img(src="img/popular-slider/popular-slider-3.png" alt="").popular-slider__img
							.popular-slider__cont
								.popular-slider__name Ролл
									br
									|  Аригато
								.popular-slider__price
									span.popular-slider__price--old 375 ₽
									|  249 ₽
					.popular-slider__item
						a(href="").popular-slider__inner
							.popular-slider__img-w
								img(src="img/popular-slider/popular-slider-3.png" alt="").popular-slider__img
							.popular-slider__cont
								.popular-slider__name Ролл
									br
									|  Батакон кунсей
								.popular-slider__price
									span.popular-slider__price--old 699 ₽
									|  529 ₽

