.main-container
  .text-page
    h1.main-title Обработка
      br
      |  персональных данных
    .text-page__inner
      h3 Общие положения
      p Настоящая Политика обработки персональных данных (далее - Политика) регулирует правоотношения по обработке персональных данных между пользователем сети “Интернет” (далее - Клиент) и Компанией.
      p Клиент обязан полностью ознакомиться с настоящей Политикой до момента использования сервисов Сайта.
      p В случае несогласия с положениями Политики Клиент должен воздержаться от дальнейшего использования Сайта.
      p Настоящая Политика действует только на территории Российской Федерации.
      p Компания вправе вносить в настоящую Политику изменения по своему усмотрению, в том числе, но не ограничиваясь, в случаях, когда соответствующие изменения связаны с изменениями в применимом законодательстве, а также когда соответствующие изменения связаны с изменениями в работе Сайтов. Клиент обязуется самостоятельно контролировать наличие изменений в настоящей Политике. Новая реакции Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики.
      h3 Термины и определения
      p В настоящей Политике, если из контекста не следует иное, нижеприведенные термины с заглавной буквы имеют следующие значения:
      p «Компания» - Общество с ограниченной ответственностью «Додо Франчайзинг», 167000, Республика Коми, г. Сыктывкар, Октябрьский проспект, д. 16.
      p «Персональные данные» -  персональные данные, которые Пользователь может предоставить о себе (имя (в том числе псевдоним); день рождения; адрес доставки; номер телефона; адрес электронной почты); информация об опыте работы; увлечениях; ссылки на личные страницы в социальных сетях; IP-адрес; информация из cookie; информация о браузере Пользователя, а также иные данные, которые Пользователь может указать/предоставить в соответствующих полях (как обязательных, так и необязательных для заполнения) на Сайте. Полный перечень Персональных данных указывается в соответствующих полях на каждом отдельном Сайте.
      p «Пользователь» (Клиент) -  Посетитель, который уже имеет личную учетную запись.
      p «Товары» - продукция сети пиццерий, объединенных в рамках франчайзинговой сети под товарным знаком  «Додо», представленная на Сайте.
      p «Сайт» - www.dodopizza.ru, а также Мобильное приложение Додо Пицца (вне зависимости от платформы).
      p Для целей настоящей Политики термины и определения в единственном числе относятся также и к терминам и определениям во множественном числе и наоборот.
      p Настоящая Политика действует как для Сайта, так и для Мобильного приложения Додо Пицца (вне зависимости от платформы).