#product-1.product.product--1
  .main-container
    .category-title Пицца
    ul.product-list
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-1.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name
              a(href="") Пицца Домашняя
            p.product-list__text Домашняя пицца с пармезаном, сыром моцарелла, ветчиной и грибами
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price.product-list__price--red
                  span.product-list__price--old 699 ₽
                  |  529 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 3
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-2.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Пицца Груша и горгонзола
            p.product-list__text Груша, сыр горгонзола,сливочный сыр, мёд, кедровые орехи, руккола
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 659 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-3.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Пицца Ветчина с грибами
            p.product-list__text Тесто, сыр моцарелла, соус томатный, ветчина, грибы
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 479 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-4.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Пицца Гавайская
            p.product-list__text Сыр моцарелла, ветчина, ананасы, соус томатный
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 469 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-5.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Пицца Грибной жульен
            p.product-list__text Cоус Жульен (грибы шампиньоны, сливки, молоко, мука пшеничная, масло сливочное, масло подсолнечное, специи), сыр моцарелла
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 549 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-6.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Пицца Дьябло
            p.product-list__text Тесто, сыр моцарелла, соус томатный, говядина маринованная, помидоры, огурцы маринованные, колбаса пепперони, лук репчатый, перец маринованный халапеньо, соус кимчи
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 629 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-7.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Пицца Мега Пепперони
            p.product-list__text Тесто, сыр моцарелла, колбаса пеперони с/к, соус томатный
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 529 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-8.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Пицца Морская
            p.product-list__text Сыр моцарелла, криветки очищенные, лосось, кольмар, соус бургер, томаты чери, руккола
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 849 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-9.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Пицца Папа
            p.product-list__text Сыр моцарелла, соус томатный, курица маринованная, грибы шампиньоны, перец болгарский, бекон, колбаса пепперони, лук репчатый, маслины
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 669 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
#product-2.product
  .main-container
    .category-title Суши и роллы
    ul.product-list
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-10.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Суши Кунсей
            p.product-list__text Рис, лосось х/к
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 89 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 3
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-11.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Суши Спайс Унаги
            p.product-list__text Рис, угорь, соус Спайс, нори
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 109 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 3
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-12.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Суши Эби
            p.product-list__text Рис, креветка отварная
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 89 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 3
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-13.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Ролл Бонито
            p.product-list__text Рис, лосось х/к, сливочный сыр, соус спайс, стружка тунца, нори
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 289 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 3
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-14.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Ролл Калифорния с креветкой
            p.product-list__text Рис, креветка, масага, авокадо, огурец, майонез, нори
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 319 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 3
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-15.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Ролл Свит Чили
            p.product-list__text Рис, креветка сливочный сыр, авокадо, соус спайс, соус Сладкий Чили, лук зеленый, майонез, нори
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 379 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 3
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-16.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Калифорния Темпура
            p.product-list__text Рис, снежный краб(сурими), авакадо, огурец, икра масаго, соус терияки, сухари панировочнве, нори
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 289 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 3
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-17.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Хиру Ролл
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 259 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 3
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-18.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Филадельфия Унаги
            p.product-list__text Рис, снежный краб(сурими), авакадо, огурец, икра масаго, соус терияки, сухари панировочнве, нори
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 449 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
#product-3.product
  .main-container
    .category-title Вок
    ul.product-list
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-19.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Рис с яйцом и беконом
            p.product-list__text Рис, яйцо куриное, бекон, лук зеленый, чеснок.
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 169 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-20.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Удон с креветками
            p.product-list__text Лапша удон, креветки тигровые, перец болгарский, грибы шампиньоны, фасоль стручковая зеленая, морковь, лук репчатый, кунжут.
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 369 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-21.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Удон с креветками в сливочном соусе
            p.product-list__text Лапша удон, креветки тигровые, сливки, перец болгарский, грибы шампиньоны, фасоль стручковая зеленая, морковь, лук репчатый, кунжут.
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 399 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-21.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Удон с курицей
            p.product-list__text Лапша удон, куриное филе, перец болгарский, грибы шампиньоны, фасоль стручковая зеленая, морковь, лук репчатый, кунжут.
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 169 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-21.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Удон с курицей в сливочном соусе
            p.product-list__text Лапша удон, филе куриное, сливки, перец болгарский, грибы шампиньоны, фасоль стручковая зеленая, морковь, лук репчатый, кунжут.
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 269 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up