.main-container
  a(href="").back-to-menu
    i.icon-angle-2-left
    |  Назад к меню
.profile
  .main-container
    h1.main-title Личные данные
    .profile__row
      .profile__cont
        .profile__points
          .profile__points-cont
            p На вашем счету
            h3 567 Баллов
            a(href="").btn-r.profile__points-btn
              span.btn-r__inner
                span.btn-r__text Потратить баллы
          .profile__points-form
            h3.category-title Профиль
            .form-row
              input(type="text" value="Максим" placeholder="Имя").form-row__input
            .form-row
              input(type="tel" value="+7 915 555-12-34" placeholder="Ваш телефон").form-row__input.phone-mask
            a(href="").btn.btn--lg.btn--full.profile__points-form-submit Сохранить
      .profile__aside
        ul.profile-nav
          li.profile-nav__item
            a(href="").profile-nav__link.profile-nav__link--active Личные данные
          li.profile-nav__item
            a(href="").profile-nav__link Адреса доставки
          li.profile-nav__item
            a(href="").profile-nav__link История заказов
          li.profile-nav__item
            a(href="").profile-nav__link Выход