.main-container
  .text-page.shares
    h1.main-title Акции
    ul.shares-list
      li.shares-list__item
        .shares-bn
          picture
            source(media='(min-width:1024px)' srcset='img/pic-8.jpg')
            source(media='(min-width:568px)' srcset='img/pic-7.jpg')
            img(src='img/pic-6.jpg' alt='').shares-bn__img
        p Pellentesque ornare nibh a diam, blandit eget eleifend massa. Nunc, tempus mattis nunc, eget aliquet gravida vel, imperdiet eget. Elit placerat neque, aliquam ut adipiscing diam. Turpis amet bibendum fringilla tellus.
        p Ac in risus vitae pharetra sollicitudin eget eget.Nam elementum lorem viverra sollicitudin. In lectus molestie sed nulla. Et nunc nulla egestas purus mauris viverra sit orci. Et ut egestas at scelerisque orci in porttitor dolor enim. Non lobortis tempor varius dui tortor amet commodo turpis sed.
        p Sit tellus gravida egestas sit pulvinar pharetra.
        a(href="").btn.shares-list__btn Подробнее
      li.shares-list__item
        .shares-bn
          picture
            source(media='(min-width:1024px)' srcset='img/pic-11.jpg')
            source(media='(min-width:568px)' srcset='img/pic-10.jpg')
            img(src='img/pic-9.jpg' alt='').shares-bn__img
        p Pellentesque ornare nibh a diam, blandit eget eleifend massa. Nunc, tempus mattis nunc, eget aliquet gravida vel, imperdiet eget. Elit placerat neque, aliquam ut adipiscing diam. Turpis amet bibendum fringilla tellus.
        p Ac in risus vitae pharetra sollicitudin eget eget.Nam elementum lorem viverra sollicitudin. In lectus molestie sed nulla. Et nunc nulla egestas purus mauris viverra sit orci. Et ut egestas at scelerisque orci in porttitor dolor enim. Non lobortis tempor varius dui tortor amet commodo turpis sed.
        p Sit tellus gravida egestas sit pulvinar pharetra.
        a(href="").btn.shares-list__btn Подробнее
      li.shares-list__item
        .shares-bn
          picture
            source(media='(min-width:1024px)' srcset='img/pic-14.jpg')
            source(media='(min-width:568px)' srcset='img/pic-13.jpg')
            img(src='img/pic-12.jpg' alt='').shares-bn__img
        p Pellentesque ornare nibh a diam, blandit eget eleifend massa. Nunc, tempus mattis nunc, eget aliquet gravida vel, imperdiet eget. Elit placerat neque, aliquam ut adipiscing diam. Turpis amet bibendum fringilla tellus.
        p Ac in risus vitae pharetra sollicitudin eget eget.Nam elementum lorem viverra sollicitudin. In lectus molestie sed nulla. Et nunc nulla egestas purus mauris viverra sit orci. Et ut egestas at scelerisque orci in porttitor dolor enim. Non lobortis tempor varius dui tortor amet commodo turpis sed.
        p Sit tellus gravida egestas sit pulvinar pharetra.
        a(href="").btn.shares-list__btn Подробнее