.success
  .main-container
    .success__inner
      h1.main-title Спасибо за заказ!
      .success__num-label Номер вашего заказа
      .success__num 002341
      p Мы свяжемся с вами в ближайшее время для подтверждения заказа. Посмотреть статус выполнения заказа вы можете в истории заказов.
      a(href="").btn.btn--lg.success__btn Посмотреть мои заказы