.main-container.welcome
  .welcome__inner
    .welcome__s-wrap
      .welcome-slider
        .welcome-slider__item
          .welcome-slider__inner
            picture
              source(media='(min-width:1024px)' srcset='img/welcome-slider/welcome-slider-3.jpg')
              source(media='(min-width:568px)' srcset='img/welcome-slider/welcome-slider-5.jpg')
              img(src='img/welcome-slider/welcome-slider-4.jpg' alt='').welcome-slider__img
        .welcome-slider__item
          .welcome-slider__inner
            picture
              source(media='(min-width:1024px)' srcset='img/welcome-slider/welcome-slider-3.jpg')
              source(media='(min-width:568px)' srcset='img/welcome-slider/welcome-slider-5.jpg')
              img(src='img/welcome-slider/welcome-slider-4.jpg' alt='').welcome-slider__img
        .welcome-slider__item
          .welcome-slider__inner
            picture
              source(media='(min-width:1024px)' srcset='img/welcome-slider/welcome-slider-3.jpg')
              source(media='(min-width:568px)' srcset='img/welcome-slider/welcome-slider-5.jpg')
              img(src='img/welcome-slider/welcome-slider-4.jpg' alt='').welcome-slider__img
