.breadcrumbs {
  padding: 0 20px;
  margin: 0;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
  background: #FFFFFF;
  backdrop-filter: blur(100px);
  border-radius: 10px;

  &__item {
    color: #4A4E51;
    font-weight: 500;
    font-size: 16px;
    line-height: 138.7%;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }

    &--arrow {
      color: #9D9D9D;
      width: 24px;
      font-size: 12px;
      text-align: center;
    }
  }

  &__link {
    color: #9D9D9D;
    text-decoration: none;
    transition: 0.3s color ease;

    &:hover {
      color: #4A4E51;
    }
  }
}