.btn {
  height: 52px;
  line-height: 52px;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-family: $fontInter;
  padding: 0 25px;
  background: linear-gradient(90deg, #E6268A -50.64%, #FDBE2C 102.36%), #F16861;
  box-shadow: 0 2px 3px rgba(0, 158, 246, 0.21);
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  outline: 0;
  text-align: center;
  transition: 0.3s all ease;

  &:hover {
    background: linear-gradient(90deg, #E6268A -50.64%, #FDBE2C 150%), #F16861;
  }

  &--lg {
    font-weight: bold;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
  }

  &--full {
    width: 100%;
  }
}

.btn-r {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  transition: 0.3s all ease;
  border-radius: 10px;
  outline: 0;
  text-align: center;
  height: 50px;
  padding: 2px;
  background: linear-gradient(90deg, #E6268A -50.64%, #FDBE2C 102.36%), #F16861;
  box-shadow: 0 2px 3px rgba(0, 158, 246, 0.21);

  &__inner {
    height: 46px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    transition: 0.3s all ease;
    padding: 0 25px;
  }

  &__text {
    background: -webkit-linear-gradient(135deg,  #FDBE2C 68%, #E6268A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s all ease;
    font-weight: 500;
    font-size: 16px;
    font-family: $fontInter;
  }
  
  &:hover {
    .btn-r__inner {
      background: transparent;
    }

    .btn-r__text {
      background: none;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: #fff;
      color: #fff;
    }
  }
}

.btn-d {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  outline: 0;
  text-decoration: none;
  transition: 0.3s all ease;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  font-weight: 500;
  font-size: 16px;
  font-family: $fontInter;
  border-radius: 10px;
  
  &--green {
    color: #fff;
    background: #B6D108;
  }
}

.btn-d-r {
  display: inline-block;
  vertical-align: top;
  border: 2px solid;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  line-height: 46px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: $fontInter;
  transition: 0.3s all ease;

  &--gray {
    border-color: #D7D7D7;
    color: #000000;

    &:hover {
      background: #D7D7D7;
    }
  }
}