.spiner {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: top;

  &__btn {
    width: 44px;
    height: 36px;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      content: '';
      background: #000000;
      width: 14px;
      height: 2px;
      margin: -1px 0 0 -7px;
    }

    &:after {
      transform: rotate(90deg);
    }

    &--down {
      &:after {
        display: none;
      }
    }

    &--disable {
      cursor: default;

      &:before {
        background: #D7D7D7;
      }
    }
  }

  &__num {
    max-width: 40px;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    font-family: $fontInter;
  }
}

.form-row {
  margin-bottom: 24px;

  &__input {
    width: 100%;
    height: 53px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    color: #222;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 0 24px;
    outline: 0;

    &::placeholder {
      color: #D7D7D7;
    }
  }

  &__textarea {
    width: 100%;
    height: 166px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    color: #222;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 24px;
    outline: 0;

    &::placeholder {
      color: #D7D7D7;
    }
  }

  .select2 {
    min-width: 100%;
    width: 100%;
  }

  .select2-container--default .select2-selection--single {
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    height: 53px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 51px;
    padding: 0 24px;
    color: #222;
    font-weight: 500;
    font-size: 18px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #D7D7D7;
    font-size: 12px;
    width: 51px;
    height: 51px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;

    b {
      display: none;
    }

    &:before {
      content: "\e910";
    }
  }
}

@media(max-width: 992px) {
  .spiner {
    &__num {
      font-size: 16px;
      line-height: 24px;
      height: 24px;
    }

    &__btn {
      height: 24px;
      width: 24px;

      &:before ,
      &:after {
        width: 12px;
        margin: -1px 0 0 -6px;
      }
    }
  }
}

@media(max-width: 768px) {
  .form-row__textarea {
    height: 129px;
  }
}