
.mt-30 {
  margin-top: 30px!important;
}

.mb-30 {
  margin-bottom: 30px!important;
}

.mb-20 {
  margin-bottom: 20px!important;
}

.mt-15 {
  margin-top: 15px!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.w100 {
  width: 100% !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-wrap: wrap;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;

  [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.col-1-2 {
  width: 50%;
}

.main-container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.slick-slide {
  outline: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media(max-width: 1024px) {
  .main-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media(max-width: 750px) {
  .main-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 568px) {
  .col-sm-1 {
    width: 100%;
  }

  .mt-sm-0 {
    margin-top: 0!important;
  }

  .mb-sm-0 {
    margin-bottom: 0!important;
  }
}

@media(max-width: 360px) {
  .main-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}