
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e900";
}
.icon-angle-down:before {
  content: "\e901";
}
.icon-angle-left:before {
  content: "\e902";
}
.icon-angle-right:before {
  content: "\e903";
}
.icon-angle-up:before {
  content: "\e904";
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-arrow-up:before {
  content: "\e908";
}
.icon-basket:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90b";
}
.icon-edit:before {
  content: "\e90c";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-zoom:before {
  content: "\e90f";
}
.icon-angle-2-down:before {
  content: "\e910";
}
.icon-angle-2-left:before {
  content: "\e911";
}
.icon-angle-2-right:before {
  content: "\e912";
}
.icon-angle-2-up:before {
  content: "\e913";
}
