h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
  font-weight: 600;
}

h1,.h1 {
  font-size: 34px;
  margin-bottom: 5px;
}

h3,.h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.18;
  margin: 53px 0 22px;
  
  a {
    text-decoration: none;
  }
}

.text-red {

}

a {
  outline: 0;
  color: inherit;
}

.link-red {
  color: #F16861;
  text-decoration: none;
  
  &:hover {
    text-decoration: none;
  }
}

.category-title {
  background: -webkit-linear-gradient(135deg,  #FDBE2C 68%, #E6268A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 50px;
  line-height: 1.18;
  margin: 56px 0 42px;
}

.text-center {
  text-align: center;
}

.main-title {
  font-weight: 800;
  font-size: 70px;
  background: -webkit-linear-gradient(135deg,  #FDBE2C 68%, #E6268A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 120%;
  margin: 0 0 41px;
}

.text-page {
  padding: 86px 0 0;
  color: #000;

  &__inner {
    max-width: 825px;
  }

  p {
    font-family: $fontInter;
    line-height: 170%;
    font-size: 18px;
    margin: 0 0 20px;
  }

  ul {
    font-family: $fontInter;
    line-height: 170%;
    font-size: 18px;
  }
}

.figure {
  margin: 38px 0 42px;

  &__img {
    display: block;
    width: 100%;
    border-radius: 16px;
  }
}

.back {
  font-weight: 500;
  font-size: 16px;
  line-height: 138.7%;
  color: #000000;
  text-decoration: none;

  .icon-angle-2-left {
    color: #D7D7D7;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    margin: 3px 12px 0 0;
  }
}

.back-to-menu {
  display: inline-block;
  vertical-align: top;
  height: 44px;
  border: 1px solid rgba(215, 215, 215, 0.6);
  border-radius: 40px;
  background: #fff;
  text-decoration: none;
  line-height: 42px;
  padding: 0 17px;
  padding-right: 39px;
  position: relative;
  z-index: 10;
  margin-top: -22px;
  margin-left: -10px;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s all ease;
  
  &:before {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 15px;
    background: #fff;
    display: block;
    content: '';
    margin-left: 1px;
  }

  i {
    display: inline-block;
    vertical-align: top;
    color:  #D7D7D7;
    margin: 12px 12px 0 0;
    transition: 0.3s all ease;
  }
  
  &:hover {
    background: #F16861;
    color: #fff;
    border-color: #F16861;
    
    i {
      color: #fff;
    }
  }
}

@media(max-width: 1200px) {
  .back-to-menu {
    margin-left: 0;
  }
}

@media(max-width: 1024px) {
  .text-page {
    padding-top: 60px;
  }

  .main-title {
    font-size: 60px;
  }

  .category-title {
    font-size: 40px;
  }
}


@media(max-width: 768px) {
  .category-title {
    font-size: 30px;
    margin: 43px 0 33px;
  }

  .main-title {
    font-size: 45px;
    line-height: 53px;
  }

}

@media(max-width: 568px) {
  .text-page {
    padding-top: 22px;
  }

  .main-title {
    margin: 0 0 17px;
  }

  .category-title {
    margin: 40px 0 14px;
  }

  .figure {
    margin: 30px 0;
  }

  h3,.h3 {
    margin: 40px 0 20px;
  }
}