.pdp
  .pdp__inner
    .pdp__img(style="background-image: url('img/pic-2.jpg');")
      ul.breadcrumbs
        li.breadcrumbs__item
          a(href="").breadcrumbs__link Наше меню
        li.breadcrumbs__item.breadcrumbs__item--arrow
          i.icon-angle-2-right
        li.breadcrumbs__item
          a(href="").breadcrumbs__link Пицца
        li.breadcrumbs__item.breadcrumbs__item--arrow
          i.icon-angle-2-right
        li.breadcrumbs__item Пицца Инь Янь
      a(href="#" ).pdp__zoom
        i.icon-zoom
    .pdp__cont
      .main-container
        .pdp__inner
          .pdp__info
            h3.pdp__info-title Ролл Калифорния с креветкой
            p Рис, креветка, масага, авокадо, огурец, майонез, нори
            .pdp__info-size
              .col-auto
                h4 Количество
              .col-auto.ml-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 1
                  a(href="").spiner__btn.spiner__btn--up
            a(href="").pdp__info-submit
              .col-auto.pdp__info-submit-name
                i.icon-basket
                span В корзину
              .col-auto.ml-auto
                b 549 ₽
.product.product--pdp
  .main-container
    .category-title К данному блюду подходят
    ul.product-list
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-25.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Васаби
            p.product-list__text Для суши
            .product-list__footer
              .col-auto
                .product-list__price 50 ₽
              .col-auto.ml-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-26.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Имбирь
            p.product-list__text Для суши
            .product-list__footer
              .col-auto
                .product-list__price 50 ₽
              .col-auto.ml-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-27.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Морс облепиховый
            p.product-list__text Вода, ягоды облепихи, сахар. Допускается наличие мякоти. Перед употреблением взбалтывать
            .product-list__footer
              .col-auto
                .product-list__price 70 ₽
              .col-auto.ml-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up

