.pdp
  .pdp__inner
    .pdp__img(style="background-image: url('img/pic-1.jpg');")
      ul.breadcrumbs
        li.breadcrumbs__item
          a(href="").breadcrumbs__link Наше меню
        li.breadcrumbs__item.breadcrumbs__item--arrow
          i.icon-angle-2-right
        li.breadcrumbs__item
          a(href="").breadcrumbs__link Пицца
        li.breadcrumbs__item.breadcrumbs__item--arrow
          i.icon-angle-2-right
        li.breadcrumbs__item Пицца Инь Янь
      a(href="№").pdp__zoom.pdp__zoom-btn
        i.icon-zoom
    .pdp__cont
      .main-container
        .pdp__inner
          .pdp__info
            h3.pdp__info-title Пицца Инь Янь
            p Соус жульен (грибы шампиньоны, сливки), сыр мацарела, курица маринованная, колбаска пепперони, ветчина, бекон, соус барбекю, руккола.
            .pdp__additionally
              h3.pdp__additionally-title Дополнительные ингридиенты
              ul.additionally
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Лук
                      .col-auto.ml-auto +30 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Курица
                      .col-auto.ml-auto +70 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox" checked).additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Ананасы
                      .col-auto.ml-auto +35 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Помидоры
                      .col-auto.ml-auto +40 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Колбаса пеперони
                      .col-auto.ml-auto +70 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Грибы
                      .col-auto.ml-auto +70 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Ветчина
                      .col-auto.ml-auto +70 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Кинза
                      .col-auto.ml-auto +20 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Базилик
                      .col-auto.ml-auto +20 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Лук
                      .col-auto.ml-auto +30 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Курица
                      .col-auto.ml-auto +70 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox" checked).additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Ананасы
                      .col-auto.ml-auto +35 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Помидоры
                      .col-auto.ml-auto +40 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Колбаса пеперони
                      .col-auto.ml-auto +70 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Грибы
                      .col-auto.ml-auto +70 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Ветчина
                      .col-auto.ml-auto +70 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Кинза
                      .col-auto.ml-auto +20 Р
                li.additionally__item
                  label.additionally__inner
                    input(type="checkbox").additionally__input
                    .additionally__cont
                      .col-auto
                        .additionally__check
                          i.icon-check
                        .additionally__name Базилик
                      .col-auto.ml-auto +20 Р
            .pdp__info-size
              .col-auto
                h4 Количество
              .col-auto.ml-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 1
                  a(href="").spiner__btn.spiner__btn--up
            a(href="").pdp__info-submit
              .col-auto.pdp__info-submit-name
                i.icon-basket
                span В корзину
              .col-auto.ml-auto
                b 549 ₽
.product.product--pdp
  .main-container
    .category-title К данному блюду подходят
    ul.product-list
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-22.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Сырный соус
            p.product-list__text Сливочно-сырный соус для заправки салатов и пиццы — 40г
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 50 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-23.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Чесночный соус
            p.product-list__text Чесночный соус для заправки салатов и пиццы — 40г
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 50 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
      li.product-list__item
        .product-list__inner
          a(href="").product-list__img-w
            img(src="img/product-list/product-list-24.png" alt="").product-list__img
          .product-list__cont
            h3.product-list__name Морс вишневый
            p.product-list__text Вода, ягоды облепихи, сахар. Допускается наличие мякоти. Перед употреблением взбалтывать
            .product-list__footer
              .col-auto.mr-auto
                .product-list__price 70 ₽
              .col-auto
                .spiner
                  a(href="").spiner__btn.spiner__btn--down
                  .spiner__num 0
                  a(href="").spiner__btn.spiner__btn--up
.pdp-modal
  a(href="").pdp-modal__close
    i.icon-close
  .pdp-slider
    .pdp-slider__item
      .pdp-slider__inner
        img(src="img/pic-18.jpg" alt="").pdp-slider__img
    .pdp-slider__item
      .pdp-slider__inner
        img(src="img/pic-18.jpg" alt="").pdp-slider__img
    .pdp-slider__item
      .pdp-slider__inner
        img(src="img/pic-18.jpg" alt="").pdp-slider__img