.cart {
  padding: 49px 0 0;

  .main-title {
    margin-top: 16px;
    margin-bottom: 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 30px;
    position: relative;
  }

  &__cont {
    width: calc(100% - 363px);
  }

  &__aside {
    width: 363px;
    padding-left: 47px;
    transition: 0.3s all ease;

    &--fixed {
      position: fixed;
      top: 15px;
    }

    &--absolute {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__btn-submit {
    width: 100%;
    margin: 26px 0 0;
  }
}

.cart-info {
  border: 1px solid rgba(215, 215, 215, 0.6);
  background: #fff;
  border-radius: 16px;
  display: block;
}

.cart-empty {
  margin: 104px 0 0;
  padding-bottom: 40px;

  &__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 1.18;
    color: #D7D7D7;
    margin: 0 0 17px;
  }

  p {
    font-size: 18px;
    line-height: 170%;
    font-family: $fontInter;
    color: #000;
    margin: 0;
  }

  &__btn {
    margin: 47px 0 0;
    width: 345px;
    max-width: 100%;
  }
}

.cart-list {
  padding: 4px 26px 0 32px;
  margin: 0;
  list-style: none;

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 28px 0;
  }

  &__cont {
    width: calc(100% - 150px);
  }

  &__spiner {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__spiner-mob {
    margin-top: 14px;
    display: none;
  }

  &__product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-img-w {
      width: 80px;
    }

    &-img {
      display: block;
      width: 100%;
    }

    &-cont {
      width: calc(100% - 80px);
      padding-left: 30px;
    }

    &-name {
      margin: 0;
      font-size: 18px;
      line-height: 170%;
      font-family: $fontInter;
      font-weight: normal;
    }

    &-price {
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      font-family: $fontInter;
      margin: 14px 0 0;
    }

    &-inf {
      padding: 0;
      margin: 0;
      list-style: none;

      &-item {
        color: #959595;
        font-size: 14px;
        line-height: 150%;
        font-family: $fontInter;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.cart-form {
  border-top: 1px solid rgba(215, 215, 215, 0.6);
  background: #FBFBFB;
  padding: 8px 24px 63px;

  &__inner {
    width: 447px;
    max-width: 100%;
    margin: auto;
  }

  &__title {
    background: -webkit-linear-gradient(135deg,  #FDBE2C 68%, #E6268A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.18;
    margin: 56px 0 33px;
  }
}

.cart-points {
  border-bottom: 1px solid rgba(215, 215, 215, 0.6);
  margin: 0 -24px;
  padding: 0 24px 57px;

  .cart-form__title {
    margin: 48px 0 33px;
  }

  p {
    font-size: 18px;
    line-height: 170%;
    font-family: $fontInter;
    color: #000000;
    margin: 0;
  }

  &__btn {
    width: 100%;
    margin: 15px 0 0;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0 0;

    &-text {
      color: #9DB311;
      font-size: 16px;
      line-height: 150%;
      font-family: $fontInter;
      padding-left: 15px;
    }

    &-btn {
      width: 180px;

      .btn-d {
        width: 100%;
      }
    }
  }

  &--aside {
    padding: 0 0 36px;
    margin: 0 0 39px;

    .cart-form__title {
      margin: -5px 0 25px;
    }

    .cart-points__btn {
      margin-top: 26px;
    }

    .cart-points__inner {
      margin: 25px 0 0;

      &-btn {
        width: 100%;
      }

      &-text {
        padding: 15px 0 0;
      }
    }
  }
}

.cart-radio {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 24px;
  border: 1px solid #D7D7D7;
  background: #FBFBFB;
  border-radius: 5px;
  overflow: hidden;

  &__item {
    width: 50%;
    border-left: 1px solid #D7D7D7;

    &:first-child {
      border-left: 0;
    }
  }
  
  &__inner {
    display: block;
    position: relative;
    height: 100%;
  }

  &__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s all ease;
    position: relative;
    padding: 16px 10px;
    height: 100%;

    &:before {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 2px;
      margin-top: -2px;
      background: #F16861;
      transition: 0.3s all ease;
      display: block;
      content: '';
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked + .cart-radio__cont {
      color: #F16861;
      font-weight: 800;
      background: #FFFFFF;

      &:before {
        width: 100%;
        left: 0;
      }
    }
  }
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin: 4px -10px 0;

  td {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    padding: 0 10px 32px;

    &:last-child {
      text-align: right;
      font-family: $fontInter;
    }
  }

  tr:last-child td {
    padding-bottom: 10px;
  }

  &__about {
    color: #959595;
    font-family: $fontInter;
    font-size: 14px;
    line-height: 150%;
  }

  &__discount {
    font-weight: 500;
    color: #F16861;
  }
}

.cart-table-total {
  border-top: 1px solid #D7D7D7;
  margin-top: 21px;
  padding-top: 35px;
  font-weight: 500;
  font-size: 24px;
  font-family: $fontInter;
  display: flex;
  flex-wrap: wrap;
}

@media(max-width: 992px) {
  .cart__cont {
    width: 100%;
  }

  .cart__aside {
    padding-left: 0;
    padding-top: 64px;
    width: 450px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .cart-points {
    &--aside {
      .cart-points__inner {
        &-btn {
          width: 180px;
        }

        &-text {
          padding: 0 0 0 15px;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .cart {
    padding-top: 20px;
  }

  .cart-empty {
    margin: 77px 0 0;

    &__title {
      font-size: 30px;
    }
  }

  .cart-list__spiner {
    .spiner {
      &__btn {
        width: 44px;
        height: 36px;

        &:before ,
        &:after {
          margin: -1px 0 0 -7px;
          width: 14px;
        }
      }

      &__num {
        height: 36px;
        line-height: 36px;
        font-size: 24px;
      }
    }
  }

  .cart-form {
    padding-bottom: 44px;
  }
}

@media(max-width: 568px) {
  .cart {
    padding-top: 26px;

    .main-title {
      margin-top: 23px;
    }
  }

  .cart-empty {
    margin: 63px 0 0;
  }

  .cart-info {
    border-radius: 0;
    margin-left: -24px;
    margin-right: -24px;
    border: 0;
  }

  .cart-list {
    padding-left: 24px;
    padding-right: 24px;

    &__product-price {
      font-size: 16px;
    }

    &__cont {
      width: 100%;
    }

    &__product-img-w {
      width: 110px;
    }

    &__product-cont {
      width: calc(100% - 110px);
      padding-left: 20px;

    }
    
    &__item {
      position: relative;
    }

    &__product {
      width: 100%;
    }

    &__spiner-mob {
      display: flex;
    }

    &__spiner {
      display: none;

      .spiner {
        &__num {
          font-size: 16px;
          line-height: 24px;
          height: 24px;
        }

        &__btn {
          height: 24px;
          width: 24px;

          &:before ,
          &:after {
            width: 12px;
            margin: -1px 0 0 -6px;
          }
        }
      }
    }
  }

  .cart-form {
    padding: 35px 24px 33px;
  }

  .cart-points {
    margin-bottom: 33px;
    padding-bottom: 33px;

    &__inner {
      &-btn {
        width: 100%;

        .btn-d {
          height: 70px;
          line-height: 70px;
          font-size: 20px;
        }
      }

      &-text {
        padding-left: 0;
        padding-top: 15px;
      }
    }

    .btn-r {
      height: 70px;

      &__inner {
        height: 66px;
      }

      &__text {
        font-size: 20px;
      }
    }

    &--aside {
      .cart-points__inner {
        &-btn {
          width: 100%;
        }

        &-text {
          padding: 15px 0 0;
        }
      }
    }
  }

  .cart-form__title {
    margin: 56px 0 33px;

    &:first-child {
      margin-top: 0;
    }
  }

  .cart__aside {
    padding-top: 30px;
  }
}

@media(max-width: 360px) {
  .cart-info {
    margin-left: -15px;
    margin-right: -15px;
  }

  .cart-list,
  .cart-form {
    padding-left: 15px;
    padding-right: 15px;
  }
}