.feedback {
  background: #FBFBFB;
  border: 1px solid rgba(215, 215, 215, 0.6);
  border-radius: 0 0 16px 16px;
  padding: 8px 15px 63px;
  width: 745px;
  max-width: 100%;
  margin: 42px 0 0;

  &__inner {
    width: 447px;
    margin: auto;
    max-width: 100%;
  }

  &__title {
    background: -webkit-linear-gradient(135deg,  #FDBE2C 68%, #E6268A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.18;
    margin: 56px 0 33px;
  }

  &__submit {
    font-weight: bold;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    width: 345px;
    max-width: 100%;
    margin: 27px 0 0;
  }
}

@media(max-width: 568px) {
  .feedback {
    margin: 38px -25px 0;
    width: auto;
    max-width: none;
    padding: 35px 24px 33px;

    &__title {
      margin: 56px 0 33px;

      &:first-child {
        margin-top: 0;
      }
    }

    &__submit {
      margin-top: 4px;
    }
  }
}