.footer {
  background: #FBFBFB;
  padding: 69px 0 0;
  margin: 50px 0 0;

  &__nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
      margin: 0 25px;
    }
    
    &-link {
      display: block;
      text-decoration: none;
      color: #262626;
      font-weight: 500;
      font-size: 16px;
      line-height: 138.7%;
      transition: 0.3s all ease;

      &:hover {
        color: #F16861;
      }
    }
  }

  &__logo {
    width: 195px;
    height: 56px;
    display: inline-block;
    vertical-align: top;
    background: url("#{$rootUrl}logo.svg") no-repeat center;
    background-size: cover;
    margin: 51px 0 0;
    text-decoration: none;
  }

  &__tel {
    color: #262626;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    height: 84px;
    padding: 0 38px;
    font-size: 48px;
    line-height: 1;
    font-family: $fontInter;
    text-decoration: none;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #959595;
    border-radius: 100px;
    margin: 56px 0 0;
    transition: 0.3s all ease;
    
    &:hover {
      color: #fff;
      background: #F16861;
      border-color: #F16861;
    }
  }

  &__inst {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #959595;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    font-family: $fontJost;
    margin: 44px 0 0;
    transition: 0.3s all ease;

    i {
      font-size: 20px;
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 0 0;
      color: #4A4E51;
    }

    &:hover {
      color: #F16861;
    }
  }

  &__copy-lang {
    border-top: 1px solid rgba(#959595,0.2);
    padding: 42px 0;
    margin: 48px auto 0;
    max-width: 458px;
    text-align: center;
    color: rgba(#959595,0.5);
    font-size: 10px;
    line-height: 16px;
    font-family: $fontJost;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}

@media(max-width: 768px) {
  .footer {
    padding-top: 54px;

    &__logo {
      margin-top: 25px;
    }
  }

  .footer__nav-item {
    margin: 0 20px 14px;
  }
}

@media(max-width: 568px) {
  .footer {
    &__logo {
      width: 160px;
      height: 46px;
    }

    &__tel {
      height: 60px;
      font-size: 24px;
      line-height: 58px;
      padding: 0 15px;
      margin-top: 41px;
      width: 344px;
      max-width: 100%;
      text-align: center;
      justify-content: center;
    }

    &__inst {
      margin-top: 34px;
    }

    &__copy-lang {
      margin: 43px -24px 0;
      padding: 35px 0;
      width: auto;
      max-width: none;
    }
  }

  .footer__nav-item {
    width: 100%;
    margin: 0 0 28px;
    text-align: center;
  }

  .footer__nav-link {
    font-size: 18px;
  }

  .footer__logo {
    margin-top: 16px;
  }
}

@media (max-width: 360px) {
  .footer__copy-lang {
    margin-left: -15px;
    margin-right: -15px;
  }
}
