.header {
  padding: 28px 0;
  position: relative;
  background: #fff;
  transition: 0.3s all ease;

  &--scroll {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    
    @media(max-width: 768px) {
      position: fixed;
      z-index: 101;
      top: 0;
      left: 0;
      width: 100%;
      padding-bottom: 12px;
      padding-top: 12px!important;
    }
  }

  &--shadow {
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.07);
  }
  
  &--fixed {
    .alert-b {
      display: none;
      @media(max-width: 768px) {
        display: block;
      }
    }
  }

  &__scroll-title {
    display: none;
  }

  &--inner {
    .header__row {
      border-bottom: 1px solid  #D7D7D7;
      padding-bottom: 32px;
    }
  }

  &--p-border {
    .header__row {
      padding-bottom: 50px;
    }

    .header__nav-link:before {
      margin-top: 15px;
    }
  }

  &--profile {
    .header__basket {
      &-name {
        display: none;
      }
    }

    .header__phone {
      margin-right: 72px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }

  &__menu {
    display: none;
  }

  &__logo {
    display: inline-block;
    vertical-align: top;
    width: 153px;
    height: 44px;
    background: url("#{$rootUrl}logo.svg") no-repeat center;
    background-size: cover;
    margin: 4px 0 0;
    text-decoration: none;
  }

  &__basket {
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: top;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    text-decoration: none;
    background: linear-gradient(90deg, #E6268A -110.73%, #FDBE2C 104.72%);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.21);
    border-radius: 10px;
    position: relative;
    color: #fff;
    font-family: $fontInter;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    //min-width: 223px;
    transition: 0.3s all ease;

    &:hover {
      background: linear-gradient(90deg, #E6268A -110.73%, #FDBE2C 150%);
    }

    .col-auto {
      padding-left: 5px;
      padding-right: 5px;
    }

    &-icon {
      font-size: 20px;
      display: inline-block;
      vertical-align: top;
      margin: 2px 0 0;
    }

    &-name {
      margin-left: 10px;
    }

    &-badge {
      position: absolute;
      top: -8px;
      right: -9px;
      min-width: 24px;
      height: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0 3px;
      border-radius: 24px;
      background: #F16861;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      font-family: $fontInter;
    }
  }

  &__login {
    display: inline-block;
    vertical-align: top;
    background: #F16861;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.21);
    border-radius: 10px;
    padding: 0 10px;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    margin-right: 15px;
  }

  &__sign-in {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #F16861;
    text-decoration: none;
    outline: 0;
    font-size: 20px;
    margin-right: 15px;
  }

  &__phone {
    display: inline-block;
    vertical-align: top;
    color: #F16861;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    font-family: $fontInter;
    text-decoration: none;
    margin: 11px 47px 0 0;

    .icon-phone {
      display: inline-block;
      vertical-align: top;
      margin: 6px 12px 0 0;
      font-size: 18px;
    }
  }

  &__nav-m {
    display: none;
  }

  &__nav {
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: top;
    margin: 19px 0 0 45px;
    padding: 0;
    list-style: none;

    &-item {
      &:not(:last-child) {
        margin-right: 52px;
      }
    }

    &-link {
      font-weight: 500;
      font-size: 16px;
      color: #000;
      text-decoration: none;
      transition: 0.3s color ease;
      position: relative;

      &:before {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 5px;
        background: #F16861;
        display: block;
        content: '';
        margin: 40px 0 0;
        opacity: 0;
      }

      &:hover {
        color: #F16861;
      }

      &--active {
        color: #000!important;

        &:before {
          opacity: 1;
        }
      }
    }
  }
}

.header-wrap {
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.07);
  //padding-bottom: 4px;
}

.alert-b {
  position: absolute;
  top: 66px;
  right: 0;
  background: #B6D108;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-family: $fontInter;
  width: 405px;
  padding: 15px 22px;
  max-width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translate(0,50px);
  z-index: -1;
  transition: 0.3s all ease;

  &:before {
    position: absolute;
    top: -11px;
    right: 40px;
    width: 21px;
    height: 21px;
    content: '';
    display: block;
    background: #B6D108;
    transform: rotate(45deg);
  }

  &--active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    transform: translate(0,0);
  }
}

@media(max-width: 1200px) {
  .header {
    &__phone {
      margin: 12px 20px 0 0;
      font-size: 20px;
    }

    &__nav {
      margin-left: 30px;

      &-item {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }

    &--profile {
      .header__phone {
        margin-right: 30px;
      }
    }
  }
}

@media(max-width: 1024px) {
  .header {
    padding-top: 24px;

    &--inner {
      .header__row {
        padding-bottom: 26px;
      }
    }

    &--p-border {
      .header__row {
        padding-bottom: 59px;
      }
    }

    &__menu {
      display: inline-block;
      vertical-align: top;
      margin: 17px 10px 0 0;
      width: 28px;
      
      span {
        display: block;
        height: 3px;
        border-radius: 3px;
        background: #000;
        margin-top: 5px;
        transition: 0.3s all ease;
        position: relative;

        &:nth-child(1) {
          margin-top: 0;
          width: 27px;
        }

        &:nth-child(2) {
          width: 12px;
        }

        &:nth-child(3) {
          width: 18px;
        }
      }

      &--active {
        span {
          &:nth-child(1) {
            width: 28px;
            transform: rotate(45deg);
            top: 8px;
          }

          &:nth-child(2) {
            transform: translate(-30px,0);
            opacity: 0;
            visibility: hidden;
          }

          &:nth-child(3) {
            width: 28px;
            transform: rotate(-45deg);
            top: -8px;
          }
        }
      }
    }

    &__nav {
      display: none;
    }

    &__nav-m {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: #fff;
      border-bottom: 1px solid rgba(#959595,0.2);
      z-index: 300;
      display: block;
      margin: 0;
      padding: 113px 15px;
      list-style: none;
      transition: 0.3s all ease;
      opacity: 0;
      visibility: hidden;
      transform: translate(-100%,0);

      &--active {
        opacity: 1;
        visibility: visible;
        transform: translate(0,0);
      }

      &-item {
        width: 100%;
        text-align: center;

        &:not(:last-child) {
          margin-bottom: 28px;
        }
      }

      &-link {
        color: #000000;
        text-decoration: none;
        font-size: 18px;
        line-height: 21px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 10px 0;
        outline: 0;

        &:before {
          background: #F16861;
          display: none;
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 5px;
        }

        &--active {
          font-weight: bold;

          &:before {
            display: block;
          }
        }
      }
    }

    &__phone {
      font-size: 16px;
      margin-right: 26px;
    }
  }
}

@media(max-width: 768px) {
  .header {
    &--fixed {
      .header__scroll-title {
        font-weight: 800;
        font-size: 20px;
        line-height: 1.1;
        max-width: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        background: -webkit-linear-gradient(135deg, #FDBE2C 68%, #E6268A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
        text-align: center;
      }

      // .header__phone {
      //   display: none;
      // }
    }

    &--profile {
      .header__basket {
        &-name {
          display: inline;
        }
      }

      .header__phone {
        margin-right: 15px;

        i {
          margin-top: 3px;
        }

        span {
          display: none;
        }
      }
    }
  }
}

@media(max-width: 750px) {
  .header {
    &__basket {
      width: 50px;
      min-width: 0;

      .col-auto {
        padding: 0;

        &:last-child {
          display: none;
        }
      }

      &-name {
        display: none;
      }
    }

    &__phone {
      margin-right: 10px;

      span {
        display: none;
      }
    }

    &__nav-m {
      padding: 85px 15px;
    }

    &--profile {
      .header__basket {
        &-name {
          display: none;
        }
      }
    }
  }

  .alert-b {
    right: -24px;

    &:before {
      right: 38px;
    }
  }
}

@media(max-width: 568px) {
  .header {
    &--fixed {
      // .header__logo {
      //   display: none;
      // }
    }

    &--p-border {
      .header__row {
        padding-bottom: 45px;
      }
    }
  }
}

@media(max-width: 480px) {
  .header {
    &--profile {
      // .header__phone {
      //   display: none;
      // }
    }
  }


  .alert-b {
    width: auto;
    left: -24px;
    max-width: none;
  }
}

@media(max-width: 360px) {
  .header__logo {
    width: 130px;
    height: 36px;
    margin: 8px 0 0;
  }

  .header {
    padding-top: 15px;

    &--scroll {
      padding-bottom: 15px;
    }
  }

  .header__nav-m-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .header__nav-m {
    padding: 50px 15px;
  }

  .alert-b {
    left: -15px;
    right: -15px;
  }
}