.menu-nav-w {
  height: 162px;
}

.menu-nav {
  margin: 0;
  padding: 28px 0 0 0;
  background: #fff;
  transition: 0.5s all ease;
  position: relative;

  &:not(.menu-nav--fixed) {
    display: block!important;
  }

  .alert-b {
    display: none;
  }

  &__logo {
    display: none;
    width: 47px;
    height: 44px;
    background: url("#{$rootUrl}logo.svg") no-repeat center left;
    text-decoration: none;
    position: absolute;
    top: 17px;
    left: 15px;
  }

  .header__basket {
    display: none;
  }

  &__wrap {
    margin: 0 -15px;
    position: relative;
  }

  &__mob-toggle {
    display: none;
  }

  &__inner {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__list {
    padding: 0;
    margin: 0 0 0 -15px;
    list-style: none;
    display: inline-flex;

    &:last-child {
      margin-right: 0;
    }

    &-item {
      margin: 0 17px;
      width: 110px;
      position: relative;

      &--active {
        .menu-nav__list-name {
          &:before {
            left: 0;
            width: 100%;
          }
        }
      }
    }
    
    &-link {
      display: block;
      text-decoration: none;
      position: relative;
      text-align: center;

      &:hover {
        @media(min-width: 1025px) {
          .menu-nav__list-name {
            &:before {
              left: 0;
              width: 100%;
            }
          }
        }
      }
    }

    &-img-w {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 93px;
    }

    &-img {
      display: block;
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }

    &-name {
      margin: 22px 0 0;
      text-align: center;
      color: #000000;
      font-weight: 500;
      font-size: 16px;
      line-height: 138.7%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding-bottom: 10px;
      
      &:before {
        position: absolute;
        background: #F16861;
        height: 5px;
        width: 0;
        left: 50%;
        bottom: 0;
        transition: 0.3s all ease;
        display: block;
        content: '';
      }
    }
  }

  &--fixed {
    position: fixed;
    left: 0;
    top: 106px;
    width: 100%;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.07);
    z-index: 100;
    padding-top: 15px;
    margin: 0!important;

    // .alert-b {
    //   display: block;
    //   margin: 17px 13px 0 0;

    //   @media (max-width: 768px) {
    //     display: none;
    //   }
    // }

    // .menu-nav__wrap {
    //   padding-left: 90px;
    //   padding-right: 190px;
    // }

    // .menu-nav__list-item {
    //   width: auto;

    //   @media(max-width: 1280px) {
    //     margin: 0 12px;
    //   }
    // }

    // .menu-nav__list-img-w {
    //   width: 56px;
    //   height: 56px;
    //   margin: auto;
    // }

    // .menu-nav__list-name {
    //   margin-top: 10px;
    //   white-space: nowrap;
    //   font-size: 14px;
    // }

    // .menu-nav__logo {
    //   display: block;
    // }

    // .header__basket {
    //   display: inline-flex;
    //   position: absolute;
    //   top: 15px;
    //   right: 15px;
    //   padding: 0 11px;

    //   &-name {
    //     display: none;
    //   }
    // }
  }

  &--small {
    top: -10px;

    &:before {
      top: 117px;
      left: 0;
      width: 100%;
      height: 1px;
      display: block;
      content: "";
      background:  #EBEBEB;
      position: absolute;
    }
  }
}

@media (max-width: 1280px) {
  .menu-nav {
    //margin: 9px 0 0;
  }
}

@media (max-width: 1024px) {
  .menu-nav {
    &__wrap {
      margin: 0 -40px;
    }

    &--fixed {
      top: 102px;
    }

    &--small {
      top: -14px;
    }
  }
}

@media(max-width: 768px) {
  .menu-nav {
    &--fixed {
      top: 74px;
    }

    &--small {
      top: -42px;
    }
  }
}


@media (max-width: 750px) {
  .menu-nav {
    &__wrap {
      margin: 0 -24px;
    }
  }
}

@media (max-width: 568px) {
  .menu-nav {
    //margin: 26px 0 0;

    &--fixed {
      margin-top: 0;

      .menu-nav__wrap {
        padding-top: 0;
      }
    }

    &--small {
      top: -16px;

      &:before {
        top: 90px;
      }
    }

    &__inner {
      padding-left: 10px;
    }

    &__list {
      &-item {
        // width: 92px;
        margin: 0 8px;
      }

      &-img-w {
        height: 72px;
      }

      &-name {
        margin-top: 15px;
      }
    }
  }
}

// @media(max-width: 360px) {
//   .menu-nav--fixed {
//     top: 55px;
//   }
// }