.pdp {
  margin: 40px auto;
  max-width: 1175px;
  
  &__inner {
    position: relative;
  }

  &__img {
    height: 882px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
  }

  .breadcrumbs {
    position: absolute;
    top: 35px;
    left: 33px;
    z-index: 50;
  }
  
  &__cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 34px 0;
  }

  &__inner {
    position: relative;
    margin: 0 -13px;
  }

  &__zoom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 33px;
    bottom: 46px;
    z-index: 50;
    width: 50px;
    height: 50px;
    color: #fff;
    background: linear-gradient(135deg, #E6268A 0%, #FDBE2C 100%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 24px;
    text-decoration: none;
  }

  &__info {
    position: absolute;
    top: 0;
    right: 9px;
    width: 410px;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.07);
    background: #fff;
    padding: 32px;
    border-radius: 16px;

    &-title {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      margin: 0 0 17px;
    }

    p {
      color: #959595;
      font-family: $fontInter;
      font-size: 16px;
      line-height: 150%;
      margin: 0 0 15px;
    }

    &-size {
      display: flex;
      flex-wrap: wrap;
      margin: 50px 0 0;

      h4 {
        margin: 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
      }

      .spiner {
        margin-right: -22px;
        margin-top: -8px;

        &__btn {
          width: 58px;
        }
      }
    }

    &-submit {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 52px;
      background: linear-gradient(90deg, #E6268A -50.64%, #FDBE2C 102.36%), #F16861;
      box-shadow: 0 2px 3px rgba(0, 158, 246, 0.21);
      border-radius: 10px;
      text-decoration: none;
      margin: 40px 0 0;
      padding: 0 15px;
      color: #fff;
      font-family: $fontInter;
      font-size: 18px;
      line-height: 170%;
      transition: 0.3s all ease;

      &:hover {
        background: linear-gradient(90deg, #E6268A -50.64%, #FDBE2C 150%), #F16861;
      }

      .col-auto {
        padding: 0 5px;
      }

      &-name {
        span {
          margin-left: 10px;
        }

        .icon-basket {
          font-size: 20px;
          display: inline-block;
          vertical-align: top;
          margin: 3px 0 0;
        }
      }
    }
  }

  &__additionally {
    margin: 33px 0 0;

    &-title {
      margin: 0;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }
  }
}

.additionally {
  padding: 0;
  margin: 18px 0 0;
  list-style: none;

  &__item {
    margin-bottom: 12px;
  }
  
  &__inner {
    display: block;
    position: relative;
    cursor: pointer;
  }

  &__check {
    display: inline-flex;
    vertical-align: top;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #D7D7D7;
    background: #fff;
    transition: 0.3s all ease;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
  }

  &__name {
    font-size: 10px;
    margin-left: 12px;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  &__cont {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-family: $fontInter;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked + .additionally__cont {
      color: #9DB311;

      .additionally__name {
        font-weight: bold;
      }

      .additionally__check {
        background: #9DB311;
        border-color: #9DB311;
      }
    }
  }
}

.pdp-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s all ease;
  transform: translate(-100%,0);
  opacity: 0;
  z-index: -1;
  visibility: hidden;

  &--active {
    transform: translate(0,0);
    opacity: 1;
    z-index: 500;
    visibility: visible;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s all ease;
    text-align: center;
    line-height: 40px;
    z-index: 50;

    &:hover {
      color: #f16861;
    }
  }
}

.pdp-slider {
  height: 100%;

  .slick-list,
  .slick-track,
  &__item {
    height: 100%;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin: 0 9px;
      position: relative;
      width: 14px;
      height: 15px;
      z-index: 50;
      cursor: pointer;

      &:before,
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -3px 0 0 -3px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: #fff;
        content: '';
        display: block;
        transition: 0.3s all ease;
      }

      &:after {
        background: linear-gradient(135deg, #E6268A 0%, #FDBE2C 100%);
        opacity: 0;
        z-index: 10;
      }

      &.slick-active,
      &:hover {
        &:before {
          box-shadow: 0 0 0 4px #fff;
        }

        &:after {
          opacity: 1;
        }
      }
    }

    button {
      display: none;
    }
  }
}

@media(max-width: 1280px) {
  .pdp {
    margin-left: 15px;
    margin-right: 15px;

    &__inner {
      margin: 0;
    }

    &__img {
      height: 700px;
    }
  }
}

@media(max-width: 1024px) {
  .pdp {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;

    .breadcrumbs {
      top: 29px;
      left: 30px;
    }

    &__info {
      position: static;
      top: auto;
      right: auto;
      margin: -109px auto 0;
      width: 450px;
      max-width: 100%;
    }

    &__img {
      height: 466px;
    }

    &__cont {
      padding-top: 30px;
      position: static;
      top: auto;
      left: auto;

      .main-container {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &__zoom {
      left: 30px;
      bottom: 29px;
    }
  }
}

@media(max-width: 992px) {
  .pdp {
    .spiner {
      &__num {
        height: 36px;
        line-height: 36px;
        font-size: 24px;
      }

      &__btn {
        width: 44px;
        height: 36px;
      }
    }
  }
}

@media(max-width: 750px) {
  .pdp {
    margin-left: 0;
    margin-right: 0;

    .breadcrumbs {
      display: none;
    }

    &__img {
      height: 256px;
      border-radius: 10px 10px 0 0;
    }

    &__zoom {
      display: none;
    }

    .main-container {
      padding: 0;
    }

    &__info {
      margin: 0;
      width: 100%;
      max-width: none;
      padding: 24px;
    }

    &__cont {
      padding: 0;
    }

    &__info-submit {
      margin-top: 32px;
    }
  }
}