.popular {
  margin: 88px 0 0;
  
  &__inner {
    position: relative;
    min-height: 200px;
  }
  
  &__s-wrap {
    //position: absolute;
    //top: 0;
    //left: 0;
    //width: 150%;
  }

  .category-title {
    margin: 0 0 63px;
  }
}

.popular-slider {
  margin: 0 -15px;

  .slick-list {
    overflow: visible;
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: -24px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    @media(max-width: 768px) {
      bottom: -10px;
    }

    @media(max-width: 568px) {
      bottom: 0;
    }

    li {
      margin: 0 9px;
      position: relative;
      width: 10px;
      height: 10px;
      z-index: 50;
      cursor: pointer;

      &:before,
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: #eee;
        content: '';
        display: block;
        transition: 0.3s all ease;
      }

      &:after {
        background: linear-gradient(135deg, #E6268A 0%, #FDBE2C 100%);
        opacity: 0;
        z-index: 10;
      }

      &.slick-active,
      &:hover {
        &:before {
          box-shadow: 0 0 0 4px #fff;
        }

        &:after {
          opacity: 1;
        }
      }
    }

    button {
      display: none;
    }
  }

  &__item {
    padding-left: 15px;
    padding-right: 15px;
  }


  &__inner {
    overflow: hidden;
    height: 160px;
    width: 350px;
    background-color: #fff;
    border-radius: 16px;
    display: block;
    text-decoration: none;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    position: relative;
    outline: 0;
  }

  &__img-w {
    position: absolute;
    top: -81px;
    right: -147px;
    width: 321px;
    height: 321px;
  }
  
  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  
  &__cont {
    position: relative;
    z-index: 50;
    padding: 22px 33px;
  }

  &__name {
    color: #000000;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

  &__price {
    color: #F16861;
    font-family: $fontInter;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin: 25px 0 0;

    &--old {
      text-decoration-line: line-through;
      color: #D7D7D7;
      margin-right: 7px;
    }
  }
}

@media(max-width: 1024px) {
  .popular {
    margin-top: 60px;

    .category-title {
      margin-bottom: 40px;
    }
  }
}

@media(max-width: 768px) {
  .popular {
    margin-top: 46px;

    .category-title {
      margin-bottom: 25px;
    }
  }

  .popular-slider {
    &__inner {
      width: 294px;
      height: 140px;
    }

    &__cont {
      padding: 21px 23px;
    }

    &__name {
      font-size: 18px;
      line-height: 130%;
    }

    &__price {
      margin: 18px 0 0;
    }

    &__img-w {
      width: 235px;
      height: 235px;
      top: -47px;
      right: -119px;
    }
  }
}

@media(max-width: 568px) {
  .popular {
    margin-top: 15px;

    .category-title {
      margin-bottom: 35px;
    }
  }
}