.product {
  margin: 122px 0 0;

  &--1 {
    margin-top: 104px;
  }

  &--pdp {
    margin-top: 90px;
  }

  .category-title {
    margin: 0 0 50px;
  }
}

.product-list {
  padding: 0;
  margin: 0 -15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3%;
    margin: 0 0 50px;
  }

  &__inner {

  }

  &__img-w {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 300px;
  }

  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  &__name {
    margin: 32px 0 18px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;

    a {

    }
  }

  &__text {
    margin: 0;
    color: #959595;
    font-size: 16px;
    line-height: 150%;
    font-family: $fontInter;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    margin: 18px 0 0;
  }

  &__price {
    font-family: $fontInter;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;

    &--red {
      color: #F16861;
    }

    &--old {
      text-decoration-line: line-through;
      color: #D7D7D7;
      margin-right: 7px;
    }
  }
}

@media(max-width: 1024px) {
  .product {
    margin-top: 80px;
  }
}

@media(max-width: 992px) {
  .product-list {
    &__img-w {
      height: 190px;
    }

    &__name {
      font-size: 18px;
      margin: 5px 0 17px;
    }

    &__price {
      font-size: 16px;
    }
  }
}

@media(max-width: 768px) {
  .product {
    margin-top: 32px;

    &--1 {
      margin-top: 0;
    }
  }

  .product-list {
    &__item {
      margin-bottom: 27px;
    }
  }
}

@media(max-width: 750px) {
  .product {
    .category-title {
      margin-bottom: 30px;
    }
  }

  .product-list {
    &__item {
      width: 100%;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    &__img-w {
      width: 110px;
      height: auto;
    }

    &__cont {
      width: calc(100% - 110px);
      padding-left: 30px;
    }

    &__footer {
      margin-top: 10px;
    }
  }
}

@media(max-width: 350px) {
  .product-list__img-w {
    width: 90px;
  }

  .product-list__cont {
    width: calc(100% - 90px);
    padding-left: 20px;
  }
}