.profile {
  margin: 43px 0 0;
  padding-bottom: 30px;

  .main-title {
    font-size: 50px;
    margin-bottom: 30px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__cont {
    width: calc(100% - 317px);
  }

  &__aside {
    width: 317px;
    padding-left: 30px;
  }

  &__points {
    max-width: 540px;

    &-cont {
      background: #FBFBFB;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      border-radius: 16px;
      text-align: center;
      color: #000000;
      padding: 43px 15px 41px;

      p {
        margin: 0 0 5px;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
      }

      h3 {
        font-size: 48px;
        line-height: 118%;
        font-family: $fontInter;
        font-weight: normal;
        margin: 0;
      }
    }

    &-btn {
      margin: 30px 0 0;
      min-width: 203px;
    }

    &-form {
      margin: 54px 0 0;

      .category-title {
        font-size: 26px;
        margin: 0 0 33px;
      }

      &-submit {
        margin-top: 8px;
      }
    }
  }
}

.profile-nav {
  padding: 0;
  margin: 4px 0 0;
  list-style: none;

  &__item {
    margin-bottom: 48px;
  }
  
  &__link {
    transition: 0.3s all ease;
    text-decoration: none;
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 21px;
    position: relative;

    &:before {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 5px;
      transition: 0.3s all ease;
      display: block;
      content: '';
      background: #F16861;
      margin: 7px 0 0;
    }

    &:hover ,
    &--active {
      &:before {
        left: 0;
        width: 100%;
      }
    }

    &--active {
      font-weight: bold;
    }
  }
}

.address {
  max-width: 541px;

  &__cont {
    background: #FBFBFB;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 36px 34px 30px;

    h3 {
      color: #000000;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      margin: 0 0 24px;
    }

    &-footer {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      .col-1-2 {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  
  &__edit {
    margin: 32px 0 0;

    .form-row {
      position: relative;

      &__input {
        padding-right: 50px;
      }
    }

    &-b {
      position: absolute;
      top: 10px;
      right: 13px;

      &-btn {
        display: none;
      }

      &-drop {
        display: flex;
        flex-wrap: wrap;
      }

      &-item {

      }
      
      &-link {
        text-decoration: none;
        font-size: 14px;
        color: #D7D7D7;
        padding: 10px;
        display: block;
        transition: 0.3s all ease;

        &:hover {
          color: #F16861;
        }
      }

      &-text {
        display: none;
      }
    }
  }
}

.order-history {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 40px;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: rgba(#D7D7D7,0.13);
    padding: 32px;
    padding-bottom: 26px;

    &-cont {
      width: calc(100% - 130px);
      padding-right: 30px;
    }

    &-status-w {
      width: 130px;
      text-align: right;
    }

    &-date {
      color: #000000;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 8px;
    }

    &-address {
      font-weight: 500;
      font-size: 16px;
      line-height: 138.7%;
      color: #959595;
    }
  }

  &__status {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    border: 1px solid #D7D7D7;
    border-radius: 96px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
    padding: 0 27px;

    span {
      background: -webkit-linear-gradient(135deg,  #FDBE2C 68%, #E6268A 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--received {
      padding: 0 20px;

      span {
        background: transparent;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: #9DB311;
        color: #9DB311;
      }
    }
  }

  &__cont {
    background: #fff;
    padding: 20px 32px;

    .category-title {
      font-size: 26px;
      margin: 0;
    }
  }

  .cart-list {
    padding: 13px 0 0;

    &__num {
      font-size: 16px;
      line-height: 150%;
      font-family: $fontInter;

      &--mob {
        display: none;
      }
    }

    &__product-img-w {
      width: 65px;
    }

    &__product-cont {
      width: calc(100% - 65px);
    }

    &__product-name {
      font-size: 16px;
    }

    &__product-price {
      margin-top: 0;
    }

    &__item {
      padding: 20px 0;
    }
  }

  &__total {
    border-top: 1px solid  #D7D7D7;
    padding: 17px 32px;

    &-table {
      width: 100%;
      border-collapse: collapse;

      td {
        line-height: 30px;
        font-weight: 500;
        font-size: 16px;
        padding: 12px 0;

        &:last-child {
          text-align: right;
          font-family: $fontInter;
          font-weight: normal;
        }

        &.lg {
          font-weight: 500;
          font-size: 24px;
        }
      }
    }
  }

  &__submit {
    margin-top: 18px;
    margin-bottom: 14px;
  }
}

@media(max-width: 992px) {
  .profile {
    &__cont {
      width: calc(100% - 215px);
    }

    &__aside {
      width: 215px;
    }
  }
}

@media(max-width: 768px) {
  .profile {
    margin-top: 21px;

    .main-title {
      font-size: 45px;
      margin-bottom: 37px;
    }
  }

  .address__edit {
    margin-top: 20px;
  }

  .order-history  {
    &__header {
      padding-bottom: 24px;
    }

    &__cont {
      .category-title {
        font-size: 24px;
      }
    }

    .cart-list__product-cont {
      padding-left: 23px;
    }
  }
}

@media(max-width: 700px) {
  .profile {
    &__cont {
      width: 100%;
    }

    &__aside {
      width: 100%;
      border-top: 1px solid #D7D7D7;
      margin-top: 49px;
      padding-top: 44px;
      padding-left: 0;
    }
  }
}

@media(max-width: 568px) {
  .profile {
    margin-top: 16px;

    .main-title {
      font-size: 30px;
      margin-bottom: 23px;
    }

    &__points {
      &-cont {
        padding: 29px 15px 35px;

        h3 {
          font-size: 34px;
        }
      }

      &-form {
        margin: 42px 0 0;

        .category-title {
          font-size: 24px;
          margin: 0 0 25px;
        }
      }
    }
  }

  .address {
    max-width: none;

    &__cont {
      margin-left: -24px;
      margin-right: -24px;
      box-shadow: none;
      padding: 24px;
    }

    &__edit {
      &-b {
        top: 16px;
        right: 7px;

        &-btn {
          padding: 10px;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          cursor: pointer;

          span {
            display: block;
            height: 4px;
            width: 4px;
            border-radius: 100%;
            background: #959595;
            margin: 0 1px;
            transition: 0.3s all ease;
          }
        }

        &-drop {
          z-index: -1;
          position: absolute;
          width: 241px;
          top: -16px;
          right: -7px;
          background: #FBFBFB;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          opacity: 0;
          visibility: hidden;
          transform: translate(0,50px);
          transition: 0.3s all ease;
        }

        &-item {
          width: 100%;
          border-bottom: 1px solid rgba( #D7D7D7,0.4);

          &:last-child {
            border-bottom: 0;
          }
        }

        &-link {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 0;
          height: 52px;
        }

        &-icon {
          width: 52px;
          display: block;
          text-align: center;
          color: #F16861;
        }

        &-text {
          display: block;
          color: #000000;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
        }

        &--active {
          .address__edit-b-btn  {
            z-index: 50;

            span {
              background: #000;
            }
          }

          .address__edit-b-drop {
            opacity: 1;
            z-index: 30;
            transform: translate(0,0);
            visibility: visible;
          }
        }
      }
    }
  }

  .order-history {
    &__header {
      padding: 20px 16px;

      &-date {
        font-size: 18px;
        margin-bottom: 5px;
      }

      &-address {

      }

      &-cont {
        padding-right: 5px;
      }
    }

    &__cont  {
      padding: 27px 16px;

      .category-title {
        font-size: 26px;
      }
    }

    &__total {
      padding: 17px 16px;
    }

    .cart-list__num {
      display: none;

      &--mob {
        display: block;
      }
    }
  }
}

@media(max-width: 480px) {
  .address__cont-footer {
    .col-1-2 {
      width: 100%;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .btn-d-r,
    .btn {
      height: 70px;
      font-size: 20px;
    }

    .btn {
      line-height: 70px;
    }

    .btn-d-r {
      line-height: 66px;
    }
  }
}
