.shares {

}

.shares-bn {
  margin-bottom: 47px;

  &__img {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.07);
  }
}

.shares-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    border-bottom: 1px solid  #D7D7D7;
    margin-bottom: 48px;
    padding-bottom: 44px;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }

  &__btn {
    width: 230px;
    margin: 13px 0 0;
  }
}

@media(max-width: 768px) {
  .shares-bn {
    margin-bottom: 30px;
  }
}

@media(max-width: 568px) {
  .shares {
    .main-title {
      margin-bottom: 25px;
    }
  }

  .shares-list__item {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}