.success {
  margin-top: 87px;
  padding-bottom: 30px;

  .main-title {
    font-size: 50px;
    margin-bottom: 34px;
  }

  &__inner {
    max-width: 730px;
  }

  p {
    font-family: $fontInter;
    font-size: 18px;
    line-height: 170%;
  }

  &__num-label {
    margin: 0 0 2px;
    font-family: $fontRaleway;
    font-weight: 500;
    font-size: 16px;
  }

  &__num {
    font-size: 48px;
    line-height: 118%;
    font-family: $fontInter;
    margin: 0 0 26px;
  }

  &__btn {
    margin: 14px 0 0;
    min-width: 345px;
  }
}

@media(max-width: 768px) {
  .success {
    margin-top: 59px;

    .main-title {
      font-size: 45px;
    }

    &__btn {
      margin: 12px 0 0;
      min-width: 330px;
    }
  }
}

@media(max-width: 568px) {
  .success {
    margin-top: 14px;
    padding-bottom: 0;

    .main-title {
      font-size: 30px;
      margin-bottom: 20px;
    }

    &__num-label {
      margin-bottom: 6px;
    }

    &__num {
      font-size: 34px;
      margin-bottom: 20px;
    }

    &__btn {
      width: 100%;
    }
  }
}