.welcome {
  margin-top: 31px;

  &__inner {
    position: relative;
    //height: 400px;
    //width: calc(200% + 30px);
  }

  &__s-wrap {
    //position: absolute;
    //top: 0;
    //left: 0;
    //width: 100%;
  }
}

.welcome-slider {
  margin: 0 -15px;

  .slick-list {
    overflow: visible;
  }

  &__item {
    padding-left: 15px;
    padding-right: 15px;
  }

  &__inner {
    overflow: hidden;
    //height: 370px;
    //background-position: center;
    //background-repeat: no-repeat;
    //background-color: #C4C4C4;
    //background-size: cover;
    border-radius: 16px;
    display: block;
    text-decoration: none;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    outline: 0;
  }

  &__img {
    display: block;
    width: 100%;
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 54px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    @media(max-width: 768px) {
      bottom: 45px;
    }

    li {
      margin: 0 9px;
      position: relative;
      width: 14px;
      height: 15px;
      z-index: 50;
      cursor: pointer;

      &:before,
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -3px 0 0 -3px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: #fff;
        content: '';
        display: block;
        transition: 0.3s all ease;
      }

      &:after {
        background: linear-gradient(135deg, #E6268A 0%, #FDBE2C 100%);
        opacity: 0;
        z-index: 10;
      }

      &.slick-active,
      &:hover {
        &:before {
          box-shadow: 0 0 0 4px #fff;
        }

        &:after {
          opacity: 1;
        }
      }
    }

    button {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .welcome {
    margin-top: 27px;
  }

  //.welcome__inner {
  //  height: 250px;
  //}
  //
  //.welcome-slider__inner {
  //  height: 230px;
  //}
}

@media(max-width: 568px) {
  .welcome {
    padding: 0;
  }

  //.welcome__inner {
  //  height: 200px;
  //}

  .welcome-slider__inner {
    //height: 190px;
    border-radius: 8px;
  }
}

@media(max-width: 360px) {
  .welcome {
    margin-top: 15px;
  }
}