.order-page {
  margin-top: -5px;
  padding-bottom: 50px;

  &__table-title {
    margin-top: 30px;
  }

  .f-table {
    margin: 30px 0 0;

    &--price {
      text-align: right;
      justify-content: flex-end;
    }
  }
}

.order-form {
  margin: 58px 0 0;

  &__title-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;
  }

  .go-to-link {
    margin: 3px 0 0 30px;
  }

  &__inner {
    width: 285px;
    max-width: 100%;
    margin: 30px 0;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;

    &-date {
      padding: 0 10px 0 0;
    }

    &-cvc {
      width: 75px;
    }

    .form-row {
      margin-bottom: 10px;
    }
  }
}