extends layout/_layout

block content
  #main
    div(style="width: 500px;margin: 50px auto;")
      a(href="index.html" target="_blank") index
      br
      br
      a(href="about.html" target="_blank") about.html
      br
      br
      a(href="address.html" target="_blank") address.html
      br
      br
      a(href="basket-add.html" target="_blank") basket-add.html
      br
      br
      a(href="cart.html" target="_blank") cart.html
      br
      br
      a(href="cart-empty.html" target="_blank") cart-empty.html
      br
      br
      a(href="cart-points.html" target="_blank") cart-points.html
      br
      br
      a(href="cart-points-2.html" target="_blank") cart-points-2.html
      br
      br
      a(href="cart-points-3.html" target="_blank") cart-points-3.html
      br
      br
      a(href="cart-points-4.html" target="_blank") cart-points-4.html
      br
      br
      a(href="delivery.html" target="_blank") delivery.html
      br
      br
      a(href="feedback.html" target="_blank") feedback.html
      br
      br
      a(href="order-history.html" target="_blank") order-history.html
      br
      br
      a(href="pdp.html" target="_blank") pdp.html
      br
      br
      a(href="pdp-2.html" target="_blank") pdp-2.html
      br
      br
      a(href="privacy-policy.html" target="_blank") privacy-policy.html
      br
      br
      a(href="profile.html" target="_blank") profile.html
      br
      br
      a(href="shares.html" target="_blank") shares.html
      br
      br
      a(href="success.html" target="_blank") success.html