extends layout/_layout

block content
	#main
		include blocks/_header
		include blocks/_welcome
		include blocks/_menu-nav
		include blocks/_popular
		include blocks/_product
		include blocks/_footer

